<h1>
    <mat-icon style="color: rgb(152, 0, 253)">contact_page</mat-icon>&nbsp;
    Contato
</h1>
<hr />

<form [formGroup]="formCadastro">

    <!--Nome titulo da tela-->
    <div class="tituloSeparador">
        &nbsp;&nbsp;<mat-icon style="color: white;">save</mat-icon>
        &nbsp;&nbsp;CADASTRO E EDIÇÃO 
    </div>

    <!-- ITENS PARA CADASTRO --> 
    <div class="formPrincipal">
        <table datatable style="width: 100%; ">
            <tbody id="idBodyCadastro">
                <tr>
                    <th style="width:30%">
                        <mat-form-field style="width:100%">
                            <mat-label>Nome*</mat-label>
                            <input matInput #nome type="text" formControlName="nome" class="form-control">
                            <mat-hint>Ex: José da Silva</mat-hint>
                        </mat-form-field>                    
                    </th>       
                    <th style="width:3%">&nbsp;</th>

                    <th style="width:15%"> 
                        <mat-form-field style="width:100%">
                            <mat-label>Telefone*</mat-label>
                            <input matInput #telefone type="text" maxlength="11" formControlName="telefone" class="form-control">
                            <mat-hint>Ex: 11987654321</mat-hint>
                        </mat-form-field>
                    </th>
                    <th style="width:3%">&nbsp;</th>

                    <th style="width:15%"> 
                        <mat-form-field style="width:100%">
                            <mat-label>E-mail*</mat-label>
                            <input matInput #email type="text" formControlName="email" class="form-control">
                            <mat-hint>Ex: suportecrm@plurismidia.com.br </mat-hint>
                        </mat-form-field>
                    </th>
                    <th style="width:3%">&nbsp;</th>

                    <th style="width:15%">
                        <mat-form-field appearance="legacy" style="width:100%">
                            <mat-label>Tipo de Contato*</mat-label>
                            <select matNativeControl #tipocontato formControlName="tipocontato" class="form-control">
                                <option value="TRANSPORTADORA">Transportadora</option>
                                <option value="CLIENTE">Cliente</option>
                                <option value="FOCAL">Focal</option>
                            </select>
                            <mat-hint>Ex: Transportadora</mat-hint>
                        </mat-form-field>
                    </th>
                    <th style="width:3%">&nbsp;</th>

                    <th style="width:15%">
                        <mat-form-field style="width:100%">
                            <mat-label>Código de Contato*</mat-label>
                            <input matInput #codigocontato type="text" formControlName="codigocontato" class="form-control">
                            <mat-hint>Ex: 123</mat-hint>
                        </mat-form-field>
                    </th>
                </tr>

                <tr>
                    <th style="width:30%">
                                        
                    </th>       
                    <th style="width:3%">&nbsp;</th>

                    <th style="width:15%"> 
                        
                    </th>
                    <th style="width:3%">&nbsp;</th>

                    <th style="width:15%"> 
                        
                    </th>
                    <th style="width:3%">&nbsp;</th>

                    <th style="width:15%">
                        <mat-slide-toggle #inativo formControlName="inativo" class="form-control">
                            INATIVO
                        </mat-slide-toggle>
                    </th>
                    <th style="width:3%">&nbsp;</th>

                    <th style="width:15%">
                        <button mat-raised-button (click)="criarContato()">
                            <div>
                                <mat-icon style="vertical-align: middle;">save</mat-icon>&nbsp;Novo
                            </div>
                            
                            <!-- <div *ngIf="formCadastro.value.idUsuario > 0">
                                <mat-icon>edit</mat-icon>&nbsp;Editar
                            </div> -->
                            
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</form>

