<!-- <h1>{{status}}</h1>
<hr /> -->

<!--Nome titulo da tela-->
<div class="tituloSeparador">
    &nbsp;{{status}}
</div>

<!-- ITENS PARA CADASTRO --> 
<div class="formPrincipal">

    <div *ngIf="lstEmbarques == null || lstEmbarques.length == 0" 
             style="height: 200px; font-weight: bold; font-size: 14px; width: 100%; text-align: center; vertical-align: middle; margin-top: 100px;">
        NÃO HÁ REGISTROS ...
    </div>
    <div *ngFor="let emba of lstEmbarques" class="divList">
        <mat-card>
            <table style="width: 100%; cursor: pointer;">
                <tr routerLink="/home/agendamento/{{emba.emba_id_cd_embarque}}" >
                    <td style="width:5%;"><b>Emb.:</b> {{emba.emba_id_cd_embarque}}</td>
                    <td style="width:15%;"><b>Shipment:</b> {{emba.emba_id_cd_shipment}}</td>
                    <td style="width:18%;"><b>Cliente:</b> {{emba.clie_ds_nomecliente}}</td>
                    <td style="width:6%;"><b>Carga:</b> {{emba.emba_ds_tipocarga}}</td>
                    <td style="width:9%;"><b>Veículo:</b> {{emba.emba_ds_veiculo}}</td>
                    <td style="width:8%;"><b>Transp:</b> {{emba.emba_ds_cod_transportadora}}</td>
                    <td style="width:12%;"><b>Conf:</b> {{emba.emba_in_transportadoraconfirmada}}</td>
                    <td *ngIf="emba.multistop == 'S'" style="width:5%;" matTooltip="Multistop"><mat-icon style="color: rgb(8, 68, 235); ">switch_account</mat-icon></td>
                    <td *ngIf="emba.multistop == 'N'" style="width:5%;">&nbsp;</td>
                    <td style="width:15%;color: crimson;"><b>Importação:</b> {{emba.skud_dh_registro}}</td>
                    <td style="width:25%;color: crimson;"><b>LeadTime:</b> {{emba.emba_dh_leadtime}}</td>
                    <td style="width:5%; text-align: center;"><mat-icon style="color: rgb(201, 29, 52); ">edit</mat-icon></td>
                </tr>
            </table>
        </mat-card>
    </div>
</div>

