
h1{
    color: rgb(48, 69, 185);
    font-weight: bold;
    width: 100%;
    text-align: left;
  }
  
table{
    font-size: 12px;
    
}

.divList{
    margin-bottom: 5px;
}

mat-card{
    height: 40px;
    margin: 0px;
    padding: 0px;
}

mat-icon{
    font-size: 15px;
}


.formPrincipal{
    font-size: 12px;
    margin: 0px;
    width: 99%; 
    height: 500px;
    overflow-y: auto; 
    border-radius: 5px;
    padding: 5px;
    border: 0.5px solid rgb(2, 114, 67);
    background-color: rgb(235, 235, 235);
    border-bottom: 0.5px solid rgb(2, 114, 67);
    color: mediumblue;    
    font-weight: normal;
  }

  
.tituloSeparador{
    vertical-align: middle; 
    margin-left: 0px; 
    font-size: 15px; 
    color: white; 
    font-weight: bold;
    border: 1px solid rgb(63, 81, 181);
    border-radius: 5px;
    width:100%; 
    height: 24px;
    background-color:rgb(63, 81, 181);
  }