<h1>
    <mat-icon style="color: rgb(152, 0, 253)">person</mat-icon>&nbsp;
    Usuário
</h1>


<hr />
<!--<form [formGroup]="formCadastro" novalidate (ngSubmit)="criarUsuario()">-->
<form [formGroup]="formCadastro">    
    <!--Nome titulo da tela-->
    <div class="tituloSeparador">
        &nbsp;&nbsp;<mat-icon style="color: white;">save</mat-icon>
        &nbsp;&nbsp;CADASTRO E EDIÇÃO 
    </div>
    <!-- ITENS PARA CADASTRO --> 
    <div class="formPrincipal">
        <input type="text" formControlName="idUsuario" type="hidden">
        <table datatable style="width: 100%;">
            <tbody id="idBodyCadastro">
                <tr>
                    <th style="width:30%">
                        <mat-form-field style="width:100%">
                            <mat-label>Nome*</mat-label>
                            <input matInput #nome type="text" formControlName="nome" class="form-control">
                            <mat-hint>Ex: José da silva</mat-hint>
                        </mat-form-field>
                    </th>
                    <th style="width:3%">&nbsp;</th>
                    <th style="width:15%"> 
                        <mat-form-field style="width:100%">
                            <mat-label>Login*</mat-label>
                            <input matInput #login type="text" formControlName="login" class="form-control">
                            <mat-hint>Ex: jds </mat-hint>
                        </mat-form-field>
                    </th>
                    <th style="width:3%">&nbsp;</th>
                    <th style="width:15%">
                        <mat-form-field style="width:100%">
                            <mat-label>Senha*</mat-label>
                            <input matInput #senha type="password" formControlName="senha" class="form-control">
                            <mat-hint>Ex: 123</mat-hint>
                        </mat-form-field>
                    </th>
                    <th style="width:3%">&nbsp;</th>
                    <th style="width:30%"> 
                        <mat-form-field style="width:100%">
                            <mat-label>Email*</mat-label>
                            <input matInput #email type="text" formControlName="email" class="form-control">
                            <mat-hint>Ex: suportecrm@plurismidia.com</mat-hint>
                        </mat-form-field>
                    </th>
                    <th style="width:3%">&nbsp;</th>
                    <th style="width:15%">
                        <mat-form-field appearance="legacy">
                            <mat-label>Permissao*</mat-label>
                            <select matNativeControl #permissao formControlName="permissao" class="form-control">
                                <option value=""></option>
                                <option value="PP">PP</option>
                                <option value="P">P</option>
                                <option value="M">M</option>
                                <option value="G">G</option>
                                <option value="GG">GG</option>
                            </select>
                            <mat-hint>*Nível de acesso</mat-hint>
                        </mat-form-field>
                    </th>

                </tr>

                <tr>
                    <th>
                        <mat-form-field appearance="legacy" style="width:100%">
                            <mat-label>Região</mat-label>
                            <mat-select matNativeControl  formControlName="user_id_regi_cd_regiao" class="form-control">
                                <mat-option value = ""></mat-option>
                                <mat-option *ngFor="let colunas of lstRegiaoModel" [value]="colunas.id_regi_cd_regiao">{{colunas.regi_ds_regiao}}</mat-option>
                            </mat-select>
                            <mat-hint>*regiao de atedimento</mat-hint>
                        </mat-form-field>
                    </th>

                    <th></th>
                    <th>
                        <mat-form-field appearance="legacy" style="width:100%">
                            <mat-label>Canal</mat-label>
                            <mat-select matNativeControl formControlName="user_id_cd_canal" class="form-control">
                                <mat-option value = "9999">Todos</mat-option>
                                <mat-option *ngFor="let colunas of lstCanalModel" [value]="colunas.cana_id_cd_canal">{{colunas.cana_ds_canal}}</mat-option>
                            </mat-select>
                            <mat-hint>*canal de atedimento</mat-hint>
                        </mat-form-field>
                    </th>

                    <th></th>
                    <th>
                        <button mat-raised-button  (click)="addElement()">
                            <mat-icon style="color: blue;">add_circle</mat-icon>
                        </button>
                    </th>

                    <th></th>
                    <th style="width:12%; text-align: right;">  
                        <mat-slide-toggle #inativo formControlName="inativo" class="form-control">
                            INATIVO
                        </mat-slide-toggle>

                    </th>
                    <th style="width:3%">&nbsp;</th>
                    <th style="width:8%; text-align: left;">  
                        <!--<button mat-raised-button type="submit" >-->
                        <button mat-raised-button (click)="criarUsuario()" >
                            <div *ngIf="formCadastro.value.idUsuario === null" >
                                <mat-icon style="vertical-align: middle;">save</mat-icon>&nbsp;Novo
                            </div>
                            
                            <div *ngIf="formCadastro.value.idUsuario > 0">
                                <mat-icon>edit</mat-icon>&nbsp;Editar
                            </div>
                            
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>

        <mat-expansion-panel class="conteudoAcordeon" *ngFor="let i of lstRegicaoCanalModel">
            <mat-expansion-panel-header class="tituloAcordeon" >
                <mat-panel-title>
                    <table datatable style="width: 100%;">
                        <tbody>
                            <tr>
                                <th style="width:15%; text-align: left;">{{i.regi_ds_regiao}} ({{i.cana_ds_canal}})</th>
                                
                                <th style="width:3%">&nbsp;</th>
                                <th style="width:15%; text-align: left;"> </th>
                                
                                <th style="width:3%">&nbsp;</th>
                                <th style="width:15%; text-align: right;">
                                    <button mat-raised-button (click)="rmElement(i.indice)">
                                        <mat-icon style="color: red;">delete</mat-icon>
                                    </button>
                                </th>
                                <th style="width:3%">&nbsp;</th>
                            </tr>
                        </tbody>
                    </table>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        
    </div>
    
    <br/>

    <!-- LISTA DE USUÁRIOS -->
    <div class="tituloSeparador">
        &nbsp;&nbsp;<mat-icon style="color: white;">list</mat-icon>
        &nbsp;&nbsp;LISTA CADASTRADOS 
    </div>
    <div class="listPrincipal containerGroup">
        <mat-accordion>
            <!--
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        This is the expansion ti    tle
                    </mat-panel-title>
                    <mat-panel-description>
                        This is a summary of the content
                    </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>This is the primary content of the panel.</p>
                </mat-expansion-panel>
            -->

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                *ngFor="let colunas of lstUsuarios" class="conteudoAcordeon" (click)="editar(
                                                                                                colunas.user_id_cd_usuario, 
                                                                                                colunas.user_ds_nomeusuario, 
                                                                                                colunas.user_ds_login,
                                                                                                colunas.user_ds_senha,
                                                                                                colunas.user_ds_email,
                                                                                                colunas.user_ds_permissionamento,
                                                                                                colunas.user_in_inativo,
                                                                                                colunas.lstRegiaoCanal)">
                
                <mat-expansion-panel-header class="tituloAcordeon" >
                    <mat-panel-title>
                        <table datatable style="width: 100%;" >
                            <tbody>
                                <tr>
                                    <td>{{colunas.user_ds_nomeusuario}} ( {{colunas.user_ds_login}} ) </td>
                                </tr>
                            </tbody>
                        </table>  
                    </mat-panel-title>
                    <mat-panel-description>
                        <table datatable style="width: 100%; text-align: right; margin-right: 60px; " >
                            <tbody>
                                <tr>
                                    <td style="width: 100%">Inativo: {{colunas.user_in_inativo}} </td>
                                </tr>
                            </tbody>
                        </table>  
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <label style="cursor: pointer;"> 
                    Editando... 
                </label>
                
                <!--<table datatable style="width: 100%;" >
                    <tbody>
                        <tr>
                            <th style="width:30%" >
                                <mat-form-field style="width:100%;">
                                    <mat-label>Nome usuário</mat-label>
                                    <input matInput type="text" readonly class="form-control" value="{{colunas.user_ds_nomeusuario}}">
                                </mat-form-field>
                            </th>
                            <th style="width:3%">&nbsp;</th>
                            <th style="width:15%"> 
                                <mat-form-field style="width:100%">
                                    <mat-label>Login</mat-label>
                                    <input matInput type="text" readonly  class="form-control" value="{{colunas.user_ds_login}}">
                                </mat-form-field>
                            </th>
                            <th style="width:4%">&nbsp;</th>
                            <th style="width:15%"> 
                                <mat-form-field style="width:100%">
                                    <mat-label>Senha</mat-label>
                                    <input matInput type="password" readonly  class="form-control" value="{{colunas.user_ds_senha}}" >
                                </mat-form-field>
                            </th>
                            <th style="width:3%">&nbsp;</th>
                            <th style="width:30%" colspan="2">
                                <mat-form-field style="width:100%">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="text" readonly class="form-control" value="{{colunas.user_ds_email}}">
                                    <mat-hint></mat-hint>
                                </mat-form-field>
                            </th>
                        </tr>
                        <tr>
                            <th style="width:30%">
                                <mat-form-field style="width:100%">
                                    <mat-label>PA</mat-label>
                                    <input matInput type="text" readonly class="form-control" value="{{colunas.user_ds_pa}}">
                                </mat-form-field>
                            </th>
                            <th style="width:3%">&nbsp;</th>
                            <th style="width:15%"> 
                                <mat-form-field style="width:100%">
                                    <mat-label>Permissão</mat-label>
                                    <input matInput  type="text" readonly class="form-control" value="{{colunas.user_ds_permissionamento}}">
                                </mat-form-field>
                            </th>
                            <th style="width:4%">&nbsp;</th>
                            <td style="width:15%"> 
                                Data cadastro: {{colunas.user_dh_registro}} 
                            
                            </td>
                            <th style="width:3%">&nbsp;</th>
                            <td style="width:30%; text-align: left;" >
                               
                            </td>
                            <th style="width:30%; text-align: right;" >
                                <button mat-raised-button (click)="editar(
                                    colunas.user_id_cd_usuario, 
                                    colunas.user_ds_nomeusuario, 
                                    colunas.user_ds_login,
                                    colunas.user_ds_senha,
                                    colunas.user_ds_email,
                                    colunas.user_ds_pa,
                                    colunas.user_ds_permissionamento,
                                    colunas.user_in_inativo)"> 
                                    <mat-icon>edit</mat-icon>&nbsp;Editar
                                </button>
                            </th>
                        </tr>
                    </tbody>
                </table>-->
                
            </mat-expansion-panel>
        </mat-accordion>    
    </div>



</form>
