<form [formGroup]="formCadastro" novalidate (ngSubmit)="gravarUsuarioCanal()">  

<div style="text-align: right; width: 50%;display: inline-block; " >
    <h1></h1>
</div>
<div style="text-align: right; width: 50%; display: inline-block; " >
    <button mat-button class="close-button, buttonClose" style="font-size: 10px;"  [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</div>

<hr/>

<!--AGENDA-->
<div class="tituloSeparador">
    &nbsp;ADICIONAR CANAL:
</div>
<div style="width: 100%; text-align: center;">
    <table style="width: 100%; margin-top: 10px;">
        <tr>
            <td style="width:100%" class="formFrameListFollowup">
                <div>
                    <div class="example-button-row">
                        <mat-card style="background-color: white;">
                                <!-- ITENS PARA CADASTRO --> 
                                <div >
                                    <table datatable style="width: 100%;">
                                        <tbody id="idBodyCadastro">
                                            <tr>
                                                <th style="width:100%">
                                                    <mat-form-field appearance="outline" style="width: 100%;">
                                                        <mat-label>Selecione uma opção de canal</mat-label>
                                                        <mat-select #idcanal formControlName="idCanal" placeholder="Selecione uma opção">
                                                          <mat-option  *ngFor="let colunas of lstCanalModel"  [value]="colunas.cana_id_cd_canal">
                                                                {{colunas.cana_ds_canal}}
                                                          </mat-option>
                                                        </mat-select>
                                                      </mat-form-field>
                                                      
                                                    <button type="submit" mat-raised-button color="primary" style="width: 50%; " > 
                                                        <mat-icon style="color : white;">control_point</mat-icon>&nbsp;&nbsp;&nbsp;Adicionar Canal
                                                    </button>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <br/><br/>
                                <!-- LISTA DE USUÁRIOS -->
                                <div class="tituloSeparador" style="text-align: left;">
                                    &nbsp;&nbsp;<mat-icon style="color: white;">list</mat-icon>
                                    &nbsp;&nbsp;CANAIS CADASTRADOS
                                </div>
                                <div class="listPrincipal containerGroup" style="height: 100px">
                                    <div *ngIf="lstusuariocanalmodel.length == null || lstusuariocanalmodel.length == 0" 
                                            style="height: 200px; font-weight: bold; font-size: 14px; width: 100%; text-align: center; vertical-align: middle; margin-top: 100px;">
                                        NÃO HÁ REGISTROS ...
                                    </div>
                                  
                                    <table *ngFor="let colunas of lstusuariocanalmodel"  datatable style="width: 100%;" >
                                        <tbody>
                                            <tr>
                                                <td style="width: 100%;  text-align: left;" (click)="alert(colunas.csCdtbCanalCanaBean.cana_id_cd_canal)">{{colunas.csCdtbCanalCanaBean.cana_ds_canal}}</td>
                                            </tr>
                                        </tbody>
                                    </table>  
                                </div>

                        </mat-card>
                    </div>
                </div>
                
            </td>
        </tr>
    </table>
</div>
</form>