    
<!--<form [formGroup]="formCadastro" novalidate (ngSubmit)="criarUsuario()">-->
    <form [formGroup]="formCadastro">
    
        <!--Nome titulo da tela-->
        <div class="tituloSeparador">
            &nbsp;RELATÓRIO AGENDAMENTOS
        </div>

        
        <!-- ITENS PARA CADASTRO --> 
        <div class="formPrincipal containerGroup">
            <!-- <input type="text" formControlName="idStatus" type="hidden"> -->
            <table datatable style="width: 100%; ">
                <tbody id="idBodyCadastro">
                    <tr>
                        <th style="width:20%">
                            <mat-form-field style="width:100%">
                                <mat-label>Periodo*</mat-label>
                                <select matNativeControl #uf formControlName="periodo" class="form-control">
                                    <option value="P1">P1</option>
                                    <option value="P2">P2</option>
                                    <option value="P3">P3</option>
                                    <option value="P4">P4</option>
                                    <option value="P5">P5</option>
                                    <option value="P6">P6</option>
                                    <option value="P7">P7</option>
                                    <option value="P8">P8</option>
                                    <option value="P9">P9</option>
                                    <option value="P10">P10</option>
                                    <option value="P11">P11</option>
                                    <option value="P12">P12</option>
                                </select>
                            </mat-form-field>
                        </th>
                        <th style="width:20%">
                            <mat-form-field style="width:30%">
                                <mat-label>Ano*</mat-label>
                                <mat-select formControlName="anos" class="form-control">
                                    <mat-option *ngFor="let ano of anos" [value]="ano">{{ano}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </th>

                        <th style="width:20%">
                            <section class="example-section">
                                <mat-checkbox formControlName="transp" class="example-margin">Transportadora Não Confirmada?</mat-checkbox>
                              </section>                        
                        </th>
                        <th style="width:20%; text-align: left;">  
                            <!-- <mat-form-field appearance="legacy">
                                <mat-label>Inativo*</mat-label>
                                <select matNativeControl #inativo formControlName="inativo" class="form-control">
                                    <option value=""></option>
                                    <option value="N">NÃO</option>
                                    <option value="S">SIM</option>
                                </select>
                                <mat-hint>*Desabilitar usuário</mat-hint>
                            </mat-form-field> -->

                        </th>
                        <th style="width:20%; text-align: right;">  
                            <!--<button mat-raised-button type="submit" >-->
                            <button mat-raised-button (click)="buscarRelatorio()" >
                                <mat-icon>cloud_download</mat-icon>
                            </button>
                        </th>                        
                    </tr>                 
                </tbody>
            </table>           
        </div>

        <!--Nome titulo da tela-->
        <div class="tituloSeparador">
            &nbsp;ATUALIZAR CÓDIGOS DE TRANSPORTADORAS
        </div>

        <div class="formPrincipal containerGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-6">                        
                        <mat-label>Selecione o arquivo de importação: </mat-label>                    
                        <br>              
                        <input type="file" id="fileupload" class="form-control-file form-control file-input" (change)="onFileChange($event, 'transp')">               
                        <i class="material-icons" style="vertical-align: middle;">attachment</i>    
                        <button style="margin-left: 2%"  mat-raised-button class="btn btn-success form-control" [disabled]="habilitarBotaoImportarCodTransp" (click)="importarDados('transp')">
                            <i class="material-icons">file_upload</i>
                            Importar                            
                        </button>                    
                    </div>
                    <div class="col-2">
                        <label for="">&nbsp;</label>
                        <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>
                    </div>                 
                </div>

                <div class="col-2">
                    <mat-label>Para realizar o download do arquivo modelo </mat-label> 
                    <a class="btn btn-success" href="../../assets/UPDATE_CODTRANS_EXEMPLO.xlsx" download="UPDATE_CODTRANS_EXEMPLO.xlsx">clique aqui</a>
                </div>                
            </div>

        </div>

        <!--Nome titulo da tela-->
        <div class="tituloSeparador">
            &nbsp;CANCELAR PEDIDOS
        </div>
        <div class="formPrincipal containerGroup">

            <div class="form-group">
                <div class="row">
                    <div class="col-6">                        
                        <mat-label>Selecione o arquivo de importação: </mat-label>                    
                        <br>              
                        <input type="file" id="fileupload" class="form-control-file form-control file-input" (change)="onFileChange($event, 'pedidocancelado')">               
                        <i class="material-icons" style="vertical-align: middle;">attachment</i>     
                        <button style="margin-left: 2%" mat-raised-button class="btn btn-success form-control" [disabled]="habilitarBotaoImportarPedidoCancelado" (click)="importarDados('pedidocancelado')">
                            <i class="material-icons">file_upload</i>
                            Importar                            
                        </button>                               
                    </div>
                    <div class="col-2">
                        <label for="">&nbsp;</label>
                        <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>
                    </div>

                    <div class="col-2">
                        <mat-label>Para realizar o download do arquivo modelo </mat-label> 
                        <a class="btn btn-success" href="../../assets/CANCELAR_PEDIDO_EXEMPLO.xlsx" download="CANCELAR_PEDIDO_EXEMPLO.xlsx">clique aqui</a>
                    </div>
                </div>
            </div>
        </div>       


        <div class="alert alert-danger" *ngIf="loginError">
            {{msgError}}
        </div>
        <br/>
    </form>
    
