<h1>
    <mat-icon style="color: rgb(235, 33, 33)">speaker_notes</mat-icon>
    &nbsp;Followup
</h1>
<hr />
<!--<form [formGroup]="formCadastro" novalidate (ngSubmit)="criarUsuario()">-->
    <form [formGroup]="formCadastro">
    
        <!--Nome titulo da tela-->
        <div class="tituloSeparador">
            &nbsp;&nbsp;<mat-icon style="color: white;">save</mat-icon>
            &nbsp;&nbsp;CADASTRO E EDIÇÃO 
        </div>
        
        <!-- ITENS PARA CADASTRO --> 
        <div class="formPrincipal">
            <input type="text" formControlName="idFollowup" type="hidden">
            <table datatable style="width: 100%;">
                <tbody id="idBodyCadastro">
                    <tr>
                        <th style="width:30%">
                            <mat-form-field  style="width:100%; margin-left: 15px;">
                                <mat-label>FOLLOWUP*</mat-label>
                                <input matInput #nome type="text" formControlName="nome" class="form-control">
                                <mat-hint>Ex: AGENDAMENTO</mat-hint>
                            </mat-form-field>
                        </th>
                        <th style="width:3%">&nbsp;</th>
                        <th style="width:15%">
                            <mat-form-field appearance="outline" style="margin:3px;">
                                <mat-label>Status</mat-label>
                                <mat-select formControlName="stat_id_cd_status">
                                    <mat-option *ngFor="let colunas of listStatus" [value]="colunas.stat_id_cd_status">{{colunas.status_ds_descricaostatus}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </th>
                        <th style="width:3%">&nbsp;</th>
                        <th style="width:12%; text-align: left;">  
                            <mat-slide-toggle #inativo formControlName="inativo" style="font-weight: normal;" class="form-control">
                                INATIVO
                            </mat-slide-toggle>
                        </th>
                        <th style="width:3%">&nbsp;</th>
                        <th style="width:10%" colspan="3" style="vertical-align: top;" > 
                            <button mat-raised-button (click)="criarFollowup()" >
                                <div *ngIf="formCadastro.value.idFollowup === null" >
                                    <mat-icon style="vertical-align: middle;">save</mat-icon>&nbsp;Novo
                                </div>
                                <div *ngIf="formCadastro.value.idFollowup > 0">
                                    <mat-icon>edit</mat-icon>&nbsp;Editar
                                </div>
                            </button>
                        </th>
                    </tr>
    
                </tbody>
            </table>
        </div>
    
        <br/>
        <!-- LISTA DE USUÁRIOS -->
        <div class="tituloSeparador">
            &nbsp;&nbsp;<mat-icon style="color: white;">list</mat-icon>
            &nbsp;&nbsp;LISTA CADASTRADAS
        </div>
        <div class="listPrincipal containerGroup">
            <div *ngIf="lstFollowups.length == null || lstFollowups.length == 0" 
                    style="height: 200px; font-weight: bold; font-size: 14px; width: 100%; text-align: center; vertical-align: middle; margin-top: 100px;">
                NÃO HÁ REGISTROS ...
            </div>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    *ngFor="let colunas of lstFollowups" class="conteudoAcordeon" (click)="editar(colunas.foup_id_cd_followup,colunas.foup_ds_followup,colunas.foup_in_inativo, colunas.stat_id_cd_status)">  
                
                <mat-expansion-panel-header class="tituloAcordeon" >
                      <mat-panel-title>
                            <table datatable style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td style="width: 60%;  text-align: left;">FollowUp: {{colunas.foup_ds_followup}} </td>
                                        <td style="width: 30%;  text-align: left;">Status: {{colunas.stat_ds_status}} </td>
                                        <td style="width: 10%">Inativo: {{colunas.foup_in_inativo}} </td>
                                    </tr>
                                </tbody>
                            </table>  
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <label style="cursor: pointer;"> 
                        Editando... 
                    </label>
                    <!--<table datatable style="width: 100%;" >
                        <tbody>
                            <tr>
                                <th style="width:50%"> 
                                    <mat-form-field  style="width:100%">
                                        <mat-label>FOLLOWUP</mat-label>
                                        <input matInput  type="text" readonly  class="form-control" value="{{colunas.foup_ds_followup}}">
                                    </mat-form-field>
                                </th>
                                <th style="width:3%">&nbsp;</th>
                                <th style="width:20%"> 
                                    Data cadastro: {{colunas.foup_dh_registro}} 
                                </th>
                                <th style="width:3%">&nbsp;</th>
                                <th style="width:16%">
                                    <button mat-raised-button (click)="editar(
                                        colunas.foup_id_cd_followup, 
                                        colunas.foup_ds_followup, 
                                        colunas.foup_in_inativo)"> 
                                        <mat-icon>edit</mat-icon>&nbsp;Editar
                                    </button>
                                </th>
                            </tr>
                            
                                    
                            
                        </tbody>
                    </table>-->
                    
                </mat-expansion-panel>
            </mat-accordion>    
        </div>
    
    </form>
    