
/*FAZER PISCAR*/
@keyframes fa-blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.fa-blink {
-webkit-animation: fa-blink .2s linear 6;
-moz-animation: fa-blink .2s linear 6;
-ms-animation: fa-blink .2s linear 6;
-o-animation: fa-blink .2s linear 6;
animation: fa-blink .2s linear 6;
}

.input-headline {
  font-size: 8px;
  line-height: 8px;
}

.formPrincipal{
  margin: 0px;
  width: 99%; 
  height: 60px;
  overflow-y: auto; 
  border-radius: 5px;
  padding: 5px;
  border: 0.5px solid rgb(2, 114, 67);

  background-color: rgb(235, 235, 235);
  border-bottom: 0.5px solid rgb(2, 114, 67);
  color: mediumblue;    
  font-weight: normal;
  
}
  
.listPrincipal{
  font-size: 12px;
  margin: 0px;
  width: 99%; 
  height: 300px;
  overflow-y: auto; 
  border-radius: 5px;
  padding: 5px;
  border: 0.5px solid rgb(2, 114, 67);
  /*background-color: rgb(184, 241, 218);*/
}

.containerGroup{
  background: white;
}

.tituloSeparador{
  vertical-align: middle; 
  margin-top: 5px; 
  margin-left: 0px; 
  font-size: 12px; 
  color: white; 
  font-weight: bold;
  border: 1px solid rgb(63, 81, 181);
  border-radius: 5px;
  width:100%; 
  height: 24px;
  background-color:rgb(63, 81, 181);
}

.tituloAcordeon{
  height:35px;
  width: 100%;  
  text-align: left;
  background-color: rgb(235, 235, 235);
}

.conteudoAcordeon{
  background-color: rgb(185, 229, 255);
  font-weight: bold;
  color: gray;
}

mat-slide-toggle{
  font-weight: normal;
}

mat-panel-title{
  font-size: 12px;
}

mat-panel-description{
  font-size: 12px;
}

table{
  width: 100%;
  font-size: 12px;
}

button{
  width: 120px;
  color: rgb(51, 62, 161);
}

mat-icon{
  color: crimson;
  vertical-align: middle;
}

mat-expansion-panel{
  margin-top: 5px;
}