<h1>
    <mat-icon style="color: rgb(0, 0, 0)">local_shipping</mat-icon>
     &nbsp;Canal</h1>
<hr/>



<!--<form [formGroup]="formCadastro" novalidate (ngSubmit)="criarUsuario()">-->
    <form [formGroup]="formCadastro">
    
        <!--Nome titulo da tela-->
        <div class="tituloSeparador">
            &nbsp;&nbsp;<mat-icon style="color: white;">save</mat-icon>
            &nbsp;&nbsp;CADASTRO E EDIÇÃO 
        </div>
        
        <!-- ITENS PARA CADASTRO --> 
        <div class="formPrincipal">
            <input type="text" formControlName="idCanal" type="hidden">
            <table datatable style="width: 100%;">
                <tbody id="idBodyCadastro">
                    <tr> 
                        <th style="width:3%">&nbsp;</th>
                        <th style="width:60%"> 
                            <mat-form-field  style="width:100%">
                                <mat-label>Nome Canal*</mat-label>
                                <input matInput #nome type="text" formControlName="nome" class="form-control">
                                <mat-hint>Ex: CONVENIENCIA</mat-hint>
                            </mat-form-field>
                        </th>
                        <th style="width:3%">&nbsp;</th>
                        <th style="width:12%; text-align: left;">  
                            <mat-slide-toggle #inativo formControlName="inativo" style="font-weight: normal;" class="form-control">
                                INATIVO
                            </mat-slide-toggle>
                        </th>
                        <th style="width:3%">&nbsp;</th>
                        <th style="width:10%" colspan="3" style="vertical-align: top;" > 
                            <button mat-raised-button (click)="criarCanal()" >
                                <div *ngIf="formCadastro.value.idCanal === null" >
                                    <mat-icon style="vertical-align: middle;">save</mat-icon>&nbsp;Novo
                                </div>
                                <div *ngIf="formCadastro.value.idCanal > 0">
                                    <mat-icon>edit</mat-icon>&nbsp;Editar
                                </div>
                            </button>
                        </th>
                    </tr>
    
                </tbody>
            </table>
        </div>
        
    
        <br/>
        <!-- LISTA DE USUÁRIOS -->
        <div class="tituloSeparador">
            &nbsp;&nbsp;<mat-icon style="color: white;">list</mat-icon>
            &nbsp;&nbsp;LISTA CADASTRADAS
        </div>
        <div class="listPrincipal containerGroup" >
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    *ngFor="let colunas of lstCanal" class="conteudoAcordeon" (click)="editar(colunas.cana_id_cd_canal, 
                                                                                                colunas.cana_ds_canal,
                                                                                                colunas.cana_in_inativo)">
            
                <mat-expansion-panel-header class="tituloAcordeon" >
                      <mat-panel-title>
                            <table datatable style="width: 100%;" >
                                <tbody>
                                    <tr>
                                        <td style="width: 100%;  text-align: left;">( {{colunas.cana_id_cd_canal}} ) {{colunas.cana_ds_canal}} </td>
                                    </tr>
                                </tbody>
                            </table>  
                        </mat-panel-title>
                        <mat-panel-description>
                            <table datatable style="width: 100%; text-align: right; margin-right: 60px; " >
                                <tbody>
                                    <tr>
                                        <td style="width: 100%">Inativo: {{colunas.cana_in_inativo}} </td>
                                    </tr>
                                </tbody>    
                            </table>  
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <label style="cursor: pointer;"> 
                        Editando... 
                    </label>
                    <!--<table datatable style="width: 100%;" >
                        <tbody>
                            <tr>
                                <th style="width:05%" >
                                    <mat-form-field  style="width:100%;">
                                        <mat-label>Código</mat-label>
                                        <input matInput type="text" readonly class="form-control" value="{{colunas.tran_ds_codigotransportadora}}">
                                    </mat-form-field>
                                </th>
                                <th style="width:3%">&nbsp;</th>
                                <th style="width:50%"> 
                                    <mat-form-field  style="width:100%">
                                        <mat-label>Nome Transportadora</mat-label>
                                        <input matInput  type="text" readonly  class="form-control" value="{{colunas.tran_nm_nometransportadora}}">
                                    </mat-form-field>
                                </th>
                                <th style="width:3%">&nbsp;</th>
                                <th style="width:20%"> 
                                    Data cadastro: {{colunas.tran_dh_registro}} 
                                </th>
                                <th style="width:3%">&nbsp;</th>
                                <th style="width:16%">
                                    <button mat-raised-button (click)="editar(
                                        colunas.tran_id_cd_transportadora, 
                                        colunas.tran_ds_codigotransportadora,
                                        colunas.tran_nm_nometransportadora, 
                                        colunas.tran_in_inativo)"> 
                                        <mat-icon>edit</mat-icon>&nbsp;Editar
                                    </button>
                                </th>
                            </tr>
                            
                                    
                            
                        </tbody>
                    </table>-->
                    
                </mat-expansion-panel>
            </mat-accordion>    
        </div>
    
    
    
    </form>
    