<h1>
    <mat-icon style="color: rgb(152, 0, 253)">search</mat-icon>&nbsp;
    Busca
</h1>

<hr />

<div class="tituloSeparador">
    &nbsp;&nbsp;Busca de informações
</div>

<form [formGroup]="formBusca" novalidate (ngSubmit)="busca()">
    <div class="formTitulo containerGroup">

        <table datatable style="width: 100%; ">
            <tbody>
                <tr>
                    <th style="text-align: left;">
                        <mat-form-field appearance="outline" style="margin:3px;">
                            <mat-label>Critério</mat-label>
                            <mat-select formControlName="criterioBusca" >
                                <mat-option value="shipment">Shipment</mat-option>
                                <mat-option value="embarque">Embarque</mat-option>
                                <mat-option value="delivery">Delivery</mat-option>
                                <mat-option value="dhImportacao">Data de importação</mat-option>
                                <mat-option value="cliente">Cliente</mat-option>
                                <mat-option value="nf">Nota fiscal</mat-option>
                                <mat-option value="canal">Canal</mat-option>
                                <mat-option value="pedido">Pedido</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" style="margin:3px;">
                            <mat-label>Valor</mat-label>
                            <input matInput formControlName="valorBusca">
                        </mat-form-field>
                    
                        <mat-form-field appearance="outline" style="margin:3px;">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="statusBusca">
                                <mat-option value="null"></mat-option>
                                <mat-option *ngFor="let status of lstStatusModel" value="{{status.stat_id_cd_status}}">{{status.status_ds_descricaostatus}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </th>

                    <th style="text-align: right;">
                        <button mat-raised-button type="submit">
                            <mat-icon>search</mat-icon>&nbsp;Buscar
                        </button>
                    </th>

                </tr>
            </tbody>
        </table>
    </div>
</form>

<div class="tituloSeparador">
    &nbsp;&nbsp;Resultado
</div>

<form [formGroup]="formResultado" novalidate (ngSubmit)="abreOpcao()">
    <div class="formPrincipal containerGroup">

        <div *ngIf="lstBuscaModel == null || lstBuscaModel.length == 0" 
             style="height: 20px; font-weight: bold; font-size: 14px; width: 100%; text-align: center; vertical-align: middle; margin-top: 10px;">
            NÃO HÁ REGISTROS ...
        </div>
        <div *ngFor="let busca of lstBuscaModel" class="divList">
            <mat-card>
                <table style="width: 100%; cursor: pointer;">
                    <tr routerLink="/home/agendamento/{{busca.emba_id_cd_embarque}}" >
                        <td style="width:3%;">&nbsp;</td>
                        <td style="width:15%;"><b>Embarque:</b> {{busca.emba_id_cd_embarque}}</td>
                        <td style="width:15%;"><b>Shipment:</b> {{busca.skud_id_cd_shipment}}</td>
                        <td style="width:25%;"><b>Cliente:</b> {{busca.clie_ds_nomecliente}}</td>
                        <td style="width:10%;"><b>Status:</b> {{busca.stat_ds_status}}</td>
                        <td style="width:20%;color: crimson;"><b>Lead Time:</b> {{busca.emba_dh_leadtime}}</td>
                        <td style="width:5%; text-align: center;"><mat-icon style="color: rgb(201, 29, 52); ">edit</mat-icon></td>
                    </tr>
                </table>
            </mat-card>
        </div>

    </div>
</form>