
<div class="row justify-content-center">
    <div class="card shadow-lg border-0 rounded-lg">
        <div style="width:75%; text-align: center;">
             <img src ="../../assets/img/mondelez-international-logo.png" width="90%">
        </div>
        <!--<div class="card header" style="background-color:rgb(63, 81, 181); color: white;">
            <div class="text-center font-weight-bold my-4">
                Login
            </div>
        </div>-->
        <br><br>
        <div class="card-body">

            <form  [formGroup]="formLogin" novalidate (ngSubmit)="entrar()">
                <div class="row">
                    <mat-form-field appearance="outline" style="width: 300px;">
                        <mat-label>Usuário</mat-label>
                        <input matInput placeholder="usuario" formControlName="usuario" >
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field appearance="outline" style="width: 300px;">
                        <mat-label>Senha</mat-label>
                        <input matInput  [type]="hide ? 'password' : 'text'" formControlName="senha">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col justify-content-start">
                        <button mat-raised-button color="primary" type="submit" style="width: 120px;" >Entrar</button>
                    </div>
                    <!--<div class="col justify-content-end">
                        <button mat-raised-button color="basic" style="width: 100px;" (click)="exibirPainelCadastro()" >Cadastrar</button>
                    </div>-->
                </div>
            </form>

        </div>
    </div>
</div>
