<h1>
    <mat-icon style="color: rgb(152, 0, 253)">format_list_bulleted</mat-icon>&nbsp;
    Combos
</h1>

<hr />

<div class="tituloSeparador">
    &nbsp;&nbsp;Combos
</div>

<form [formGroup]="formPrincipal" novalidate (ngSubmit)="criar()">
    <div class="formTitulo containerGroup">

        <table datatable style="width: 100%; ">
            <tbody>
                <tr>
                    <th style="text-align: left;">
                        <mat-form-field appearance="outline" style="margin:3px;">
                            <mat-label>Cadastro</mat-label>
                            <mat-select formControlName="cadastro" (selectionChange)="getValue()">
                                <!-- <mat-option value="tpMotivo">Tipo</mat-option> -->
                                <mat-option value="motivo">Motivo</mat-option>
                                <mat-option value="responsavel">Responsavel</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </th>

                    <th style="text-align: right;">
                        <button mat-raised-button type="submit">
                            <mat-icon style="vertical-align: middle;">save</mat-icon>&nbsp;Novo
                        </button>
                    </th>

                </tr>
                <tr *ngIf="comboCadastro == 'tpMotivo' ">
                    <th style="text-align: left;">
                        <mat-form-field style="width:60%">
                            <mat-label>Tipo</mat-label>
                            <input matInput #tpMotivo type="text" formControlName="tpMotivo" class="form-control">
                        </mat-form-field>
                    </th>
                </tr>
                <tr *ngIf="comboCadastro == 'motivo' ">
                    <th style="text-align: left; width: 250px;">
                        <mat-form-field appearance="outline" style="margin:3px;">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="idTipo" (selectionChange)="listMotivos()">
                                <mat-option *ngFor="let colunas of comboTipoMotivoModel" [value]="colunas.tipo_id_cd_tipo">{{colunas.tipo_ds_tipo}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </th>
                    <th style="text-align: left;">
                        <mat-form-field style="width:60%">
                            <mat-label>Motivo</mat-label>
                            <input matInput #dsMotivo type="text" formControlName="dsMotivo" class="form-control">
                        </mat-form-field>
                    </th>
                </tr>
                <tr *ngIf="comboCadastro == 'responsavel' ">
                    <th style="text-align: left;">                        
                        <mat-form-field style="width:60%">
                            <mat-label>Responsavel</mat-label>
                            <input matInput #responsavel type="text" formControlName="responsavel" class="form-control">
                        </mat-form-field>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</form>

<div class="tituloSeparador">
    &nbsp;&nbsp;Resultado
</div>


<div class="formPrincipal containerGroup">

    <!--
    <div *ngIf="lstTipoModel == null || lstTipoModel.length == 0" 
            style="height: 20px; font-weight: bold; font-size: 14px; width: 100%; text-align: center; vertical-align: middle; margin-top: 10px;">
        NÃO HÁ REGISTROS ...
    </div>
    -->
    <div *ngIf="lstTipoModel != null && lstTipoModel.length != 0">
        <div *ngFor="let tipo of lstTipoModel" class="divList">
            <mat-card>
                <table style="width: 100%; cursor: pointer;">
                    <tr>
                        <td style="width:15%;"><b>Motivo:</b> {{tipo.tipo_ds_tipo}}</td>
                        <td style="width:85%; text-align: left;"><mat-icon style="color: rgb(201, 29, 52);" (click) = "delete(tipo.tipo_id_cd_tipo, tipo.tipo_ds_tipo, 'tipo')">delete</mat-icon></td>
                    </tr>
                </table>
            </mat-card>
        </div>
    </div>

    <div *ngIf="lstMotivoModel != null && lstMotivoModel.length != 0">
        <div *ngFor="let motivo of lstMotivoModel" class="divList">
            <mat-card>
                <table style="width: 100%; cursor: pointer;">
                    <tr>
                        <td style="width:30%;"><b>Motivo:</b> {{motivo.moti_ds_motivo}}</td>
                        <td style="width:70%; text-align: left;"><mat-icon style="color: rgb(201, 29, 52);" (click) = "delete(motivo.moti_id_cd_motivo, motivo.moti_ds_motivo, 'motivo')">delete</mat-icon></td>
                    </tr>
                </table>
            </mat-card>
        </div>
    </div>

    <div *ngIf="lstResponsavelModel != null && lstResponsavelModel.length != 0">
        <div *ngFor="let responsavel of lstResponsavelModel" class="divList">
            <mat-card>
                <table style="width: 100%; cursor: pointer;">
                    <tr>
                        <td style="width:30%;"><b>Responsavel:</b> {{responsavel.resp_nm_responsavel}}</td>
                        <td style="width:70%; text-align: left;"><mat-icon style="color: rgb(201, 29, 52);" (click) = "delete(responsavel.resp_id_cd_responsavel, responsavel.resp_nm_responsavel, 'responsavel')">delete</mat-icon></td>
                    </tr>
                </table>
            </mat-card>
        </div>
    </div>

</div>
