<mat-sidenav-container class="sidenav-container" >
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"
        >
       
        <div style="width:100%; height: 5px; background-color:crimson;">
          <label style="vertical-align: middle; margin-left: 20px; font-size: 15px; color: white; font-weight: bold;">
          </label> 
        </div>
        <br/><br/>
      
      <!--logo empresa -->
      <mat-toolbar > 
        <img src ="../../assets/img/mondelez-international-logo.png" width="180px" [routerLink]="['/home/inicial_path']">
      </mat-toolbar>
     
       <br/><br/>
       <div style="width:100%; height: 24px; background-color:crimson;">
        <label style="vertical-align: middle; margin-left: 20px; font-size: 15px; color: white; font-weight: bold;">
          &nbsp;&nbsp;{{frasedoDia}} {{nomeFuncionario}}
          </label>
        </div>  
        <br/>
        <div style="width:100%">
          <mat-icon class="hand" *ngIf="ativarRefresh" (click)="atualizarBadges()">refresh</mat-icon>
          <mat-icon *ngIf="!ativarRefresh">close</mat-icon>
        </div>




      <!--menu -->
<div style="height: 450px; overflow-x: none; overflow-y: auto;">
      <mat-accordion >
        <mat-expansion-panel  *ngIf="permissao == 'PP' || permissao == 'G' || permissao == 'GG'">
          <mat-expansion-panel-header>
            <mat-panel-title >
              <mat-icon>list</mat-icon>&nbsp;&nbsp; Agendamentos
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="itemPanel">
            <div *ngFor="let status of lstStatus">
              <p  [routerLink]="['/home/status', status.stat_id_cd_status]" >
                <span  matBadge="{{status.qtd}}" matBadgePosition="before" matBadgeOverlap="false" matBadgeSize="small" matBadgeColor="warn">
                  &nbsp;</span>
                  {{status.stat_ds_status}}
                <br>
              </p>
            </div>
              
              <!-- #821EE6 -->
            <!-- <p (click)="rotear('agendamento1')"> 
              <mat-icon style="color: rgb(245, 0, 253)">access_time</mat-icon>&nbsp;&nbsp;&nbsp;Não Agendado
            </p>
            <p (click)="rotear('agendamento2')">
              <mat-icon style="color: rgb(0, 101, 253)" >
                  calendar_today
              </mat-icon>&nbsp;&nbsp;&nbsp;Agendados
            </p>
            <p (click)="rotear('agendamento3')">
              <mat-icon>local_shipping</mat-icon>&nbsp;&nbsp;&nbsp;Transportadoras
          </p>
          <p (click)="rotear('agendamento4')">
              <mat-icon style="color: rgb(0, 253, 0)" >
                check_circle_outline
              </mat-icon>&nbsp;&nbsp;&nbsp;Formalizados
          </p>
          <p (click)="rotear('agendamento5')">
              <mat-icon style="color: rgb(235, 33, 33)" >
                cancel
              </mat-icon>&nbsp;&nbsp;&nbsp;Não Formalizados
          </p>             -->
        </div>
        </mat-expansion-panel>
        
        <mat-expansion-panel>
          <mat-expansion-panel-header *ngIf="permissao == 'P' || permissao == 'M' || permissao == 'G' || permissao == 'GG'">
            <mat-panel-title>
              <mat-icon>list</mat-icon>&nbsp;&nbsp;Cadastro
            </mat-panel-title>
          </mat-expansion-panel-header>
            <div class="itemPanel">
              <p (click)="rotear('usuarios')">
                <mat-icon style="color: rgb(152, 0, 253)">person</mat-icon>&nbsp;&nbsp;&nbsp;Usuários
              </p>
              <p (click)="rotear('clientes')">
                <mat-icon style="color: rgb(0, 101, 253)">corporate_fare</mat-icon>&nbsp;&nbsp;&nbsp;Clientes
              </p> 
              <p (click)="rotear('contatos')">
                <mat-icon style="color: rgb(0, 101, 253)">contact_page</mat-icon>&nbsp;&nbsp;&nbsp;Contatos
              </p> 
              <p (click)="rotear('transportadoras')">
                <mat-icon style="color: rgb(0, 0, 0)">local_shipping</mat-icon>&nbsp;&nbsp;&nbsp;Transportadoras
              </p>
              <p (click)="rotear('cadastrostatus')">
                <mat-icon style="color: rgb(0, 253, 0)">flag</mat-icon>&nbsp;&nbsp;&nbsp;Status Agendamento
              </p> 
              <p (click)="rotear('followups')">
                <mat-icon style="color: rgb(235, 33, 33)">speaker_notes</mat-icon>&nbsp;&nbsp;&nbsp;Follow-up
              </p> 
              
              <p (click)="rotear('canal')">
                <mat-icon style="color: rgb(217, 125, 240)">work_outline</mat-icon>&nbsp;&nbsp;&nbsp;Canal
              </p>
              <p (click)="rotear('cadastrocombo')">
                <mat-icon style="color: rgb(235, 33, 33)">format_list_bulleted</mat-icon>&nbsp;&nbsp;&nbsp;Combos
              </p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>list</mat-icon>&nbsp;&nbsp;Busca
            </mat-panel-title>
          </mat-expansion-panel-header>
            <div class="itemPanel">
              <p (click)="rotear('busca')">
                <mat-icon style="color: rgb(152, 0, 253)">search</mat-icon>&nbsp;&nbsp;&nbsp;Busca
              </p>
            </div>
        </mat-expansion-panel>
          
          <!-- </mat-expansion-panel> -->
          <mat-accordion >
            <mat-expansion-panel hideToggle (click)="rotear('relatorios')">
              <mat-expansion-panel-header  *ngIf="permissao == 'G' || permissao == 'GG'">
                <mat-panel-title>
                  <mat-icon>timeline</mat-icon>&nbsp;&nbsp;Relatórios
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </mat-accordion>

         <!--SAIR : POSIÇÃO ABSOLUTA -->
          <!-- <mat-expansion-panel hideToggle (click)="sair()" style="background-color: rgb(238, 238, 238);">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>exit_to_app</mat-icon>&nbsp;&nbsp;Sair
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>-->
            
      </mat-accordion>

      <!--
      <div style="width:100%; height: 24px; text-align: left; ">
        <label style="vertical-align: middle; margin-left: 20px; font-size: 10px; color: rgb(87, 87, 87); font-weight: bold;">
          *Canal ({{canalOperador}}) 
        </label>
      </div>  
    
    <div style="width:100%; height: 24px; text-align: left; ">
      <label style="vertical-align: middle; margin-left: 20px; font-size: 10px; color: rgb(87, 87, 87); font-weight: bold;">
        *Regiao ({{regiaoOperador}}) 
      </label>
    </div>  
    -->
  </div>
  
      <!--SAIR : POSIÇÃO ABSOLUTA -->
      <mat-accordion style="position:absolute;top:85%" >
        <mat-expansion-panel hideToggle (click)="sair()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>exit_to_app</mat-icon>&nbsp;&nbsp;Sair
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
      
      
    </mat-sidenav>


     <!--aba superior -->
    <mat-sidenav-content>
      <div style="width:100%; height: 5px; background-color:crimson;">
        <label style="vertical-align: middle; margin-left: 20px; font-size: 15px; color: white; font-weight: bold;">
        </label> 
      </div>
      
      <mat-toolbar style="height: 80px; background-color: rgb(238, 238, 238)">
          <div>
            <mat-icon style="color: rgb(81, 35, 114); font-size: 12px; cursor: pointer;" (click)="drawer.toggle()">panorama_fish_eye</mat-icon>
          </div>
          <div style="width: 83%; text-align: center;">
                <h1>PORTAL AGENDAMENTOS</h1> 
                <div style="font-size:12px;color: rgb(81, 35, 114);">
                  &nbsp;
                  ( {{date | date: "dd/MM/yyyy" : "GMT -3"}} {{date | date: "HH:mm:ss" : "GMT -3"}} )
                </div>
          </div>
          <div style="width: 12%; text-align: right; margin-top: 20px;">
            <img src={{imageLogo}}  (click)="rotear('Inicial')" style="width: 180px;text-align: center;">
          </div>

          <!--
            <div style="width: 15%; ">
              <mat-icon matPrefix style="height: 35px;" >search</mat-icon>&nbsp;
              <mat-form-field class="example-full-width">
                <mat-label>Busca rápida</mat-label>
                <input matInput placeholder="Inserir a busca">
              </mat-form-field>
            </div>
          -->       
          <div style="width: 5%; text-align: right; margin-top: 20px;">&nbsp;</div>

        </mat-toolbar>



        
        <!--Container outlet-->
        <div class="routerCss">
            <router-outlet></router-outlet>
        </div>
        
        
        <!--<div style="position: absolute; bottom: 10px; right: 40px;">
          <button (click)="sair()" mat-icon-button class="example-icon">
            <mat-icon style="color: rgb(81, 35, 114); font-size: 38px;">exit_to_app</mat-icon>
        </button>
        </div>
        -->

      </mat-sidenav-content>

    

  </mat-sidenav-container>
  