  .default{
    background:white;
  }
  .clicked{
    background:rgb(57, 33, 113);
    color: white;
  }

  p{
    vertical-align: middle;
    cursor: pointer;
  }

  img{
    cursor: pointer;
  }

  .routerCss{
    font-size: 14px;
    margin: 4px;
    width: 96%; 
    height: 615px;
    
    overflow-y: auto; 
    border-radius: 10px;
    background: rgb(225, 241, 247);
    padding: 20px;
    border: 2px solid rgb(113, 33, 33);

  }

  .hand{
    cursor: pointer;
  }

  mat-expansion-panel{
    color: rgb(82, 105, 235);
  }

  mat-panel-title{
    font-size: 14px;
    
  }

  mat-expansion-panel-header{
    font-size: 10px;
    
    color: rgb(63, 81, 181);
  }

  h1{
    color: rgb(80, 33, 112);
    font-weight: bold;
  }

  .sidenav-container {
    height: 100%;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  
  .sidenav {
    width: 15%;
    background-color: rgb(238, 238, 238);
  }
  
  .itemPanel  {
      margin-left: 10px;
      vertical-align: middle;
      font-size: 12px;
  }

  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    background-color: rgb(238, 238, 238);
    top: 0;
    z-index: 1;
  }

  a{
      text-decoration: none;
      color: white;
  }

  a:hover, a:active{
      color: lightgray;
  }

  .navigation-items {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

  mat-toolbar {
      height: 50px;
  }

  @media(max-width:959px){
    mat-toolbar {
        border-radius: 0px;
    }   

  }

#menu {
    width: 400px;
    height: auto;
}
html, body {
	height: 1500px;
  color: rgb(98, 126, 138);
}


  

  