    
<!--<form [formGroup]="formCadastro" novalidate (ngSubmit)="criarUsuario()">-->
    <form [formGroup]="formCadastro">
    
        <!--Nome titulo da tela-->
        <div class="tituloSeparador">
            &nbsp;CADASTRO DE STATUS 
        </div>
        <!-- ITENS PARA CADASTRO --> 
        <div class="formPrincipal containerGroup">
            <input type="text" formControlName="idStatus" type="hidden">
            <table datatable style="width: 100%; ">
                <tbody id="idBodyCadastro">
                    <tr>
                        <th style="width:30%">
                            <mat-form-field style="width:100%">
                                <mat-label>Descrição*</mat-label>
                                <input matInput #descricao type="text" formControlName="descricao" class="form-control">
                                <mat-hint>Ex: José da silva</mat-hint>
                            </mat-form-field>
                        </th>
                        <th style="width:3%">&nbsp;</th>
                        <th style="width:12%; text-align: left;">  
                            <!-- <mat-form-field appearance="legacy">
                                <mat-label>Inativo*</mat-label>
                                <select matNativeControl #inativo formControlName="inativo" class="form-control">
                                    <option value=""></option>
                                    <option value="N">NÃO</option>
                                    <option value="S">SIM</option>
                                </select>
                                <mat-hint>*Desabilitar usuário</mat-hint>
                            </mat-form-field> -->

                            <mat-slide-toggle #inativo formControlName="inativo" class="form-control">
                                INATIVO
                            </mat-slide-toggle>
                        </th>
                        <th style="width:15%; text-align: right;">  
                            <!--<button mat-raised-button type="submit" >-->
                            <button mat-raised-button (click)="criarStatus()" >
                                <mat-icon>save</mat-icon>&nbsp;Salvar
                            </button>
                        </th>
                        
                    </tr>
    
                   
                </tbody>
            </table>
            
        </div>
        <div class="alert alert-danger" *ngIf="loginError">
            {{msgError}}
        </div>
        <br/>
        
    
        
        <!-- LISTA DE USUÁRIOS -->
        <div class="tituloSeparador">
                &nbsp;STATUS CADASTRADOS 
        </div>
        <div class="listPrincipal containerGroup">
            <mat-accordion>
               
    
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    *ngFor="let colunas of lstStatus" class="conteudoAcordeon" (click)="editar(
                                                                                            colunas.stat_id_cd_status,
                                                                                            colunas.status_dh_atualizacao,
                                                                                            colunas.status_dh_registro,
                                                                                            colunas.status_ds_descricaostatus,
                                                                                            colunas.status_in_inativo
                                                                                        )">
                    
                    <mat-expansion-panel-header class="tituloAcordeon" >
                        <mat-panel-title>
                            <table datatable style="width: 100%;" >
                                <tbody>
                                    <tr>
                                        <td>{{colunas.status_ds_descricaostatus}} </td>
                                    </tr>
                                </tbody>
                            </table>  
                        </mat-panel-title>
                        <mat-panel-description>
                            <table datatable style="width: 100%; text-align: right; margin-right: 60px; " >
                                <tbody>
                                    <tr>
                                        <td style="width: 100%">Inativo: {{colunas.status_in_inativo}} </td>
                                    </tr>
                                </tbody>
                            </table>  
                        </mat-panel-description>
                    </mat-expansion-panel-header>
    
                    <br>
                    <!-- <table datatable style="width: 100%;" >
                        <tbody>
                            <tr>
                                <th style="width:30%" >
                                    <mat-form-field style="width:100%;">
                                        <mat-label>Nome usuário</mat-label>
                                        <input matInput type="text" readonly class="form-control" value="{{colunas.user_ds_nomeusuario}}">
                                    </mat-form-field>
                                </th>
                                <th style="width:3%">&nbsp;</th>
                                <th style="width:15%"> 
                                    <mat-form-field style="width:100%">
                                        <mat-label>Login</mat-label>
                                        <input matInput type="text" readonly  class="form-control" value="{{colunas.user_ds_login}}">
                                    </mat-form-field>
                                </th>
                                <th style="width:4%">&nbsp;</th>
                                <th style="width:15%"> 
                                    <mat-form-field style="width:100%">
                                        <mat-label>Senha</mat-label>
                                        <input matInput type="password" readonly  class="form-control" value="{{colunas.user_ds_senha}}" >
                                    </mat-form-field>
                                </th>
                                <th style="width:3%">&nbsp;</th>
                                <th style="width:30%" colspan="2">
                                    <mat-form-field style="width:100%">
                                        <mat-label>Email</mat-label>
                                        <input matInput type="text" readonly class="form-control" value="{{colunas.user_ds_email}}">
                                        <mat-hint></mat-hint>
                                    </mat-form-field>
                                </th>
                            </tr>
                            <tr>
                                <th style="width:30%">
                                    <mat-form-field style="width:100%">
                                        <mat-label>PA</mat-label>
                                        <input matInput type="text" readonly class="form-control" value="{{colunas.user_ds_pa}}">
                                    </mat-form-field>
                                </th>
                                <th style="width:3%">&nbsp;</th>
                                <th style="width:15%"> 
                                    <mat-form-field style="width:100%">
                                        <mat-label>Permissão</mat-label>
                                        <input matInput  type="text" readonly class="form-control" value="{{colunas.user_ds_permissionamento}}">
                                    </mat-form-field>
                                </th>
                                <th style="width:4%">&nbsp;</th>
                                <td style="width:15%"> 
                                    Data cadastro: {{colunas.user_dh_registro}} 
                                
                                </td>
                                <th style="width:3%">&nbsp;</th>
                                <td style="width:30%; text-align: left;" >
                                   
                                </td>
                                <th style="width:30%; text-align: right;" >
                                    <button mat-raised-button (click)="editar(
                                        colunas.user_id_cd_usuario, 
                                        colunas.user_ds_nomeusuario, 
                                        colunas.user_ds_login,
                                        colunas.user_ds_senha,
                                        colunas.user_ds_email,
                                        colunas.user_ds_pa,
                                        colunas.user_ds_permissionamento,
                                        colunas.user_in_inativo)"> 
                                        <mat-icon>edit</mat-icon>&nbsp;Editar
                                    </button>
                                </th>
                            </tr>
                        </tbody>
                    </table> -->
                    
                </mat-expansion-panel>
            </mat-accordion>    
        </div>
    
    
    
    </form>
    
