<h1>
    <mat-icon style="color: rgb(0, 101, 253)">corporate_fare</mat-icon>
    &nbsp;Cliente    
</h1>
<hr />
<!--<form [formGroup]="formCadastro" novalidate (ngSubmit)="criarUsuario()">-->
    <form [formGroup]="formCadastro">
    
        <!--Nome titulo da tela-->
        <div class="tituloSeparador">
            &nbsp;&nbsp;<mat-icon style="color: white;">save</mat-icon>
            &nbsp;&nbsp;CADASTRO E EDIÇÃO 
        </div>
        <!-- ITENS PARA CADASTRO --> 
        <div class="formPrincipal containerGroup">
            
            <input type="text" formControlName="idCliente" type="hidden">
            <table datatable style="width: 100%;">
                <tbody id="idBodyCadastro">
                
                <!--CLIENTE tdFixaSuperior-->
                <tr>
                    <td class="tdFixaSuperior">
                        <table datatable style="width: 100%;">
                            <tr>
                                <th style="width:40%;">
                                    <mat-form-field style="width:100%;">
                                        <mat-label>NOME CLIENTE*</mat-label>
                                        <input matInput #nome type="text" formControlName="nome" class="form-control" >
                                        <mat-hint></mat-hint>
                                    </mat-form-field> 
                                </th>
                                <th style="width:3%; position: sticky;top: 0;">&nbsp;</th>
                                <th style="width:10%; position: sticky;top: 0;"> 
                                    <mat-form-field style="width:100%">
                                        <mat-label>CNPJ*</mat-label>
                                        <input matInput #cnpj type="text" formControlName="cnpj" class="form-control">
                                        <mat-hint>Ex: 01.00000/0001-01</mat-hint>
                                    </mat-form-field>
                                </th>
                                <th style="width:3%; position: sticky;top: 0;">&nbsp;</th>
                                <th style="width:10%; position: sticky;top: 0;">
                                    <mat-slide-toggle #nfobrigatoria formControlName="nfobrigatoria" class="form-control">
                                        NF OBRIGATÓRIA*
                                    </mat-slide-toggle>
                                </th>
                                <th style="width:3%; position: sticky;top: 0;">&nbsp;</th>
                                <th style="width:15%; position: sticky;top: 0;"> 
                                    <!--<mat-form-field appearance="legacy">
                                        <mat-label>PA*</mat-label>
                                        <select matNativeControl #pa formControlName="pa" class="form-control">
                                            <option value=""></option>
                                            <option value="CE">CE</option>
                                            <option value="N"> N</option>
                                            <option value="NE">NE</option>
                                            <option value="S"> S</option>
                                            <option value="SU">SU</option>
                                        </select>
                                        <mat-hint></mat-hint>
                                    </mat-form-field>-->
                                    <mat-slide-toggle #agendamentoobrigatorio formControlName="agendamentoobrigatorio" class="form-control">
                                        AGENDAMENTO OBRIGATÓRIO*
                                    </mat-slide-toggle>
                                </th>
                                <th style="width:3%; position: sticky;top: 0;">&nbsp;</th>
                                <th style="width:15; position: sticky;top: 0;">
                                    <mat-slide-toggle #inativo formControlName="inativo" class="form-control">
                                        INATIVO
                                    </mat-slide-toggle>
                                </th>
                                <th style="width:3%; position: sticky;top: 0;">&nbsp;</th>
                                <th style="width:15%; text-align: right; position: sticky;top: 0;">  
                                    <!--<button mat-raised-button type="submit" >-->
                                    <button mat-raised-button (click)="criarCliente()" >
                                        <div *ngIf="formCadastro.value.idCliente === null" >
                                            <mat-icon style="vertical-align: middle;">save</mat-icon>&nbsp;Novo
                                        </div>
                                        <div *ngIf="formCadastro.value.idCliente > 0">
                                            <mat-icon>edit</mat-icon>&nbsp;Editar
                                        </div>
                                    </button>


                                    
                                </th>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!--DADOS CLIENTE-->
                <tr>
                    <td>
                        <div id="idSubTitulo" class="subTituloSeparador">
                            &nbsp;DADOS CLIENTE
                        </div>
                            <fieldset style="border: 1px solid rgb(192, 192, 192) ;">
                                <table style="width: 100%;"> 
                                    <tr>
                                        <th style="width:25%"> 
                                            <mat-slide-toggle #taxadescarga formControlName="taxadescarga" style="width:100%" class="form-control">
                                                TAXA DE DESCARGA*
                                            </mat-slide-toggle>
                                        </th>
                                        <th style="width:2%">&nbsp;</th>
                                        <th style="width:23%"> 
                                            <mat-form-field style="width:100%">
                                                <mat-label>DIAS RECEBIMENTO*</mat-label>
                                                <input matInput #diasrecebimento type="text" formControlName="diasrecebimento" class="form-control">
                                                <mat-hint>Ex: SEG/TER/QUAR...</mat-hint>
                                            </mat-form-field>
                                        </th>
                                        <th style="width:2%">&nbsp;</th>
                                        <th style="width:23%">
                                            <mat-form-field style="width:100%">
                                                <mat-label>HORARIO RECEBIMENTO*</mat-label>
                                                <input matInput #horariorecebimento type="text" formControlName="horariorecebimento" class="form-control">
                                                <mat-hint>Ex: 07:00-14:00</mat-hint>
                                             </mat-form-field>
                                        </th>
                                        <th style="width:2%">&nbsp;</th>
                                        <th style="width:23%; text-align: left; vertical-align: top;" rowspan="3" >  
                                            <mat-form-field appearance="legacy" style="width: 100%;">
                                                <mat-label>OBSERVAÇÃO</mat-label>
                                                <textarea matInput  #observacao  formControlName="observacao" 
                                                        placeholder="Inserir texto..."
                                                        rows="9" ></textarea>
                                            </mat-form-field>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th style="width:25%">
                                            <mat-form-field style="width:100%">
                                                <mat-label>TIPO RESTRIÇÃO*</mat-label>
                                                <input matInput #tiporestricao type="text" formControlName="tiporestricao" class="form-control">
                                                <mat-hint>Ex: 8.0</mat-hint>
                                            </mat-form-field>
                                        </th>
                                        <th style="width:2%">&nbsp;</th>
                                        <th style="width:23%"> 
                                            <mat-form-field style="width:100%">
                                                <mat-label>RESTRIÇÃO CIRCULAÇÃO*</mat-label>
                                                <input matInput #restricaocirculacao type="text" formControlName="restricaocirculacao" class="form-control">
                                                <mat-hint>Ex: </mat-hint>
                                            </mat-form-field>
                                        </th>
                                        <th style="width:2%">&nbsp;</th>
                                        <th style="width:23%">
                                            <mat-form-field style="width:100%">
                                                <mat-label>HORA RESTRIÇÃO*</mat-label>
                                                <input matInput #horariorestricao type="text" formControlName="horariorestricao" class="form-control">
                                                <mat-hint>Ex: 13:00 / 20:00</mat-hint>
                                            </mat-form-field>

                                        </th>
                                       
                                        <th style="width:2%">&nbsp;</th>
                                        <th style="width:23%; text-align: right;">
                                            
                                        </th>
                                    </tr>

                                    <tr>
                                        <th style="width:23%">
                                            <mat-form-field style="width:100%">
                                                <mat-label>RESPONSAVEL REVISÃO*</mat-label>
                                                <input matInput #resprevisao type="text" formControlName="resprevisao" class="form-control">
                                                <mat-hint>Ex: Rebeca Casoni</mat-hint>
                                            </mat-form-field>
                                        </th>
                                        <th style="width:2%">&nbsp;</th>
                                        <th style="width:23%"> 
                                            <mat-form-field style="width:100%">
                                                <mat-label>DATA REVISÃO*</mat-label>
                                                <input matInput #datarevisao type="text" formControlName="datarevisao" class="form-control">
                                                <mat-hint>Ex: 22-nov-2016</mat-hint>
                                            </mat-form-field>
                                        </th>
                                        <th style="width:2%">&nbsp;</th>
                                        <th style="width:23%">
                                        </th>
                                        
                                        <th style="width:2%">&nbsp;</th>
                                        <th style="width:23%;">
                                        </th>
                                    </tr>
                                   
                            </table>
                        </fieldset>
                    </td>
                </tr>


                <!-- ENDEREÇO -->
                <tr>
                    <td>
                        <div class="subTituloSeparador">
                            &nbsp;ENDEREÇO
                        </div>
                        <fieldset style="border: 1px solid rgb(192, 192, 192) ;">
                            <table style="width: 100%;">  
                                <tr>
                                    <th style="width:5%">
                                        <mat-form-field style="width:100%">
                                            <mat-label>CEP*</mat-label>
                                            <input matInput #cep type="text" formControlName="cep" class="form-control">
                                            <mat-hint></mat-hint>
                                        </mat-form-field>
                                    </th>
                                    <th style="width:3%">&nbsp;</th>
                                    <th style="width:5%"> 
                                        <mat-form-field appearance="legacy">
                                            <mat-label>UF*</mat-label>
                                            <select matNativeControl #uf formControlName="uf" class="form-control">
                                                <option value="AC">AC</option>
                                                <option value="AL">AL</option>
                                                <option value="AM">AM</option>
                                                <option value="AP">AP</option>
                                                <option value="BA">BA</option>
                                                <option value="CE">CE</option>
                                                <option value="DF">DF</option>
                                                <option value="ES">ES</option>
                                                <option value="GO">GO</option>
                                                <option value="MA">MA</option>
                                                <option value="MG">MG</option>
                                                <option value="MS">MS</option>
                                                <option value="MT">MT</option>
                                                <option value="PA">PA</option>
                                                <option value="PB">PB</option>
                                                <option value="PE">PE</option>
                                                <option value="PI">PI</option>
                                                <option value="PR">PR</option>
                                                <option value="RJ">RJ</option>
                                                <option value="RN">RN</option>
                                                <option value="RO">RO</option>
                                                <option value="RR">RR</option>
                                                <option value="RS">RS</option>
                                                <option value="SC">SC</option>
                                                <option value="SE">SE</option>
                                                <option value="SP">SP</option>
                                                <option value="TO">TO</option>
                                            </select>
                                            <mat-hint></mat-hint>
                                        </mat-form-field>
                                        
                                    </th>
                                    <th style="width:3%">&nbsp;</th>
                                    <th style="width:10%">
                                        <mat-form-field style="width:100%">
                                            <mat-label>CIDADE*</mat-label>
                                            <input matInput #cidade type="text" formControlName="cidade" class="form-control">
                                            <mat-hint></mat-hint>
                                        </mat-form-field>
                                    </th>
                                    
                                    <th style="width:3%">&nbsp;</th>
                                    <th style="width:71%" colspan="3">
                                        <mat-form-field style="width:100%">
                                            <mat-label>ENDEREÇO*</mat-label>
                                            <input matInput #endereco type="text" formControlName="endereco" class="form-control">
                                            <mat-hint></mat-hint>
                                        </mat-form-field>
                                    </th>
                                </tr>

                                <tr>
                                    <th style="width:5%">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>REGIÃO*</mat-label>
                                            <select matNativeControl #regiao formControlName="regiao" class="form-control">
                                                <option value=""></option>
                                                <option value="SUDESTE">SUDESTE</option>
                                                <option value="NORDESTE">NORDESTE</option>
                                                <option value="NORTE">NORTE</option>
                                                <option value="CENTRO OESTE">CENTRO OESTE</option>
                                                <option value="SUL">SUL</option>
                                            </select>
                                            <mat-hint></mat-hint>
                                        </mat-form-field>
                                    </th>
                                    <th style="width:3%">&nbsp;</th>
                                    <th style="width:18%" colspan="3"> 
                                        <mat-form-field style="width:100%">
                                            <mat-label>Agrupamento*</mat-label>
                                            <input matInput #agrupamento type="text" formControlName="agrupamento" class="form-control">
                                            <mat-hint>Ex: Sul Catarinense</mat-hint>
                                        </mat-form-field>
                                        
                                    </th>
                                    <th style="width:3%">&nbsp;</th>
                                    <th style="width:71%" colspan="3">
                                    </th>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
           
                <!-- VEICULOS -->
                <tr>
                    <td>
                        <div class="subTituloSeparador">
                            &nbsp;VEICULOS
                        </div>
                        <fieldset style="border: 1px solid rgb(192, 192, 192) ;">
                            <table style="width: 100%;">   
                                <tr>
                                    <th style="width:5%; text-align: right;">
                                        <mat-form-field style="width:100%">
                                            <mat-label>CÓDIGO*</mat-label>
                                            <select matNativeControl #codveiculomax formControlName="codveiculomax" class="form-control">
                                                <option value=""></option>
                                                <option value="COD VEICULO">COD VEICULO</option>
                                                <option value="D-01_R-01_E-01">D-01_R-01_E-01</option>
                                                <option value="D-02_R-02_E-02">D-02_R-02_E-02</option>
                                                <option value="D-04_R-04_E-04"> D-04_R-04_E-04</option>
                                                <option value="FLOOR">FLOOR</option>
                                                <option value="PALLET">PALLET</option>
                                            </select>
                                            <mat-hint></mat-hint>
                                        </mat-form-field>
                                    </th>
                                    <th style="width:3%">&nbsp;</th>
                                    <th style="width:5%; text-align: right;">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>TIPO VEICULO*</mat-label>
                                            <select matNativeControl #tipoveiculomax formControlName="tipoveiculomax" class="form-control">
                                                <option value=""></option>
                                                <option value="CARRETA">CARRETA</option>
                                                <option value="CARRETA (ESTIVADA)"> CARRETA (ESTIVADA)</option>
                                                <option value="TIPO VEICULO">TIPO VEICULO</option>
                                                <option value="TOCO"> TOCO</option>
                                                <option value="TRUCK">TRUCK</option>
                                                <option value="VAN">VAN</option>
                                            </select>
                                            <mat-hint></mat-hint>
                                        </mat-form-field>
                                    </th>
                                    <th style="width:3%">&nbsp;</th>
                                    <th style="width:10%; text-align: right;">  
                                        <mat-form-field style="width:100%">
                                            <mat-label>PESO*</mat-label>
                                            <input matInput #pesoveiculo type="text" formControlName="pesoveiculo" class="form-control">
                                            <mat-hint></mat-hint>
                                        </mat-form-field>
                                    </th>
                                    <th style="width:3%">&nbsp;</th>
                                    <th style="width:10%; text-align: left;">
                                        <mat-slide-toggle #veiculodedicado formControlName="veiculodedicado" class="form-control">
                                            DEDICADO
                                        </mat-slide-toggle>
                                    </th>
                                    <th style="width:3%">&nbsp;</th>
                                    <th style="width:45%; text-align: left;">
                                        <mat-slide-toggle #pagataxaveiculodedicado formControlName="pagataxaveiculodedicado" class="form-control">
                                            PAGAR TAXA DEDICADO
                                        </mat-slide-toggle>
                                    </th>

                                </tr>
                                <tr>
                                    <th style="width:5%"> 
                                        <mat-form-field appearance="legacy">
                                            <mat-label>TIPO DESCARGA</mat-label>
                                            <select matNativeControl #tipodescarga formControlName="tipodescarga" class="form-control">
                                                <option value=""></option>
                                                <option value="Levar Ajudante -> Incluir no CTE">Levar Ajudante -> Incluir no CTE</option>
                                                <option value="Levar Dinheiro -> Reembolso via NF Serviço"> Levar Dinheiro -> Reembolso via NF Serviço</option>
                                        </select>
                                            <mat-hint></mat-hint>
                                        </mat-form-field>
                                    </th>
                                </tr>
                                <th style="width:95%" colspan="8"></th>
                            </table>
                        </fieldset>
                    </td>
                </tr>
                
                <!--PALETES-->
                <tr>
                    <td>
                        <div class="subTituloSeparador">
                            &nbsp;PALETE
                        </div>
                        <fieldset style="border: 1px solid rgb(192, 192, 192) ;">
                            <table>   
                                <!--dados adicionais-->
                                <tr>
                                    <th style="width:5%">
                                        <mat-slide-toggle #fefoespecial formControlName="fefoespecial" class="form-control">
                                            FEFO ESPECIAL
                                        </mat-slide-toggle>
                                    </th>
                                    <th style="width:3%">&nbsp;</th>
                                    <th style="width:5%"> 
                                        <mat-slide-toggle #paletizacaoespecial formControlName="paletizacaoespecial" class="form-control">
                                            PALETIZAÇÃO ESPECIAL
                                        </mat-slide-toggle>
                                    </th>
                                    <th style="width:3%">&nbsp;</th>
                                    <th style="width:10%">
                                        <mat-slide-toggle #paletizacaomondelez formControlName="paletizacaomondelez" class="form-control">
                                            PALETIZAÇÃO MONDELEZ
                                        </mat-slide-toggle>
                                    </th>

                                    <th style="width:3%">&nbsp;</th>
                                    <th style="width:10%; text-align: left;">
                                        <mat-slide-toggle #clienteexigepalete formControlName="clienteexigepalete" class="form-control">
                                            EXIGE PALETE
                                        </mat-slide-toggle>
                                    </th>
                                    <th style="width:3%">&nbsp;</th>
                                    <th style="width:22%; text-align: left;" >  
                                        <mat-form-field appearance="legacy">
                                            <mat-label>TIPO PALETIZAÇÃO*</mat-label>
                                            <select matNativeControl #tipopaletizacao formControlName="tipopaletizacao" class="form-control">
                                                <option value=""></option>
                                                <option value="NÃO">NÃO</option>
                                                <option value="Padrão MDLZ"> Padrão MDLZ</option>
                                            </select>
                                            <mat-hint></mat-hint>
                                        </mat-form-field>
                                    </th>
                                    <th style="width:23%; text-align: left;">  
                                        <mat-form-field style="width:100%">
                                            <mat-label>ALTURA PALETE*</mat-label>
                                            <input matInput #alturapalete type="text" formControlName="alturapalete" class="form-control">
                                            <mat-hint>Ex: Padrão MDLZ</mat-hint>
                                        </mat-form-field>
                                    </th>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="subTituloSeparador">
                            &nbsp;AGENDAMENTO
                        </div>
                        <fieldset style="border: 1px solid rgb(192, 192, 192) ;">
                            <table>  
                            <!--dados adicionais-->  
                            <tr>
                                <th style="width:5%">
                                    <mat-slide-toggle #temagendamento formControlName="temagendamento" class="form-control">
                                        TEM AGENDAMENTO
                                    </mat-slide-toggle>
                                </th>
                                <th style="width:3%">&nbsp;</th>
                                <th style="width:5%"> 
                                    <mat-form-field appearance="legacy">
                                        <mat-label>TIPO AGENDAMENTO*</mat-label>
                                        <select matNativeControl #tipoagendamento formControlName="tipoagendamento" class="form-control">
                                            <option value=""></option>
                                            <option value="AGENDAMENTO SOMENTE COM NF">AGENDAMENTO SOMENTE COM NF</option>
                                            <option value="OFERTADO APÓS CONFIRMAÇÃO AGENDA">Ofertado após confirmação agenda</option>
                                            <option value="SEM AGENDA">SEM AGENDA</option>
                                        </select>
                                        <mat-hint></mat-hint>
                                    </mat-form-field> 
                                   
                                </th>
                                <th style="width:3%">&nbsp;</th>
                                <th style="width:15%">
                                    <mat-form-field style="width:100%">
                                        <mat-label>ESPERA CLIENTE*</mat-label>
                                        <input matInput #esperacliente type="text" formControlName="esperacliente" 
                                            class="form-control" >
                                        <mat-hint></mat-hint>
                                    </mat-form-field>
                                </th>
                                <th style="width:33%" colspan="2">&nbsp;</th>
                            </tr>
                        </table>
                    </fieldset>
                    </td>
                </tr>
                
            </tbody>
        </table>
            
        </div>
        
        <br/>
        <!-- LISTA DE USUÁRIOS -->
        <div class="tituloSeparador">
            &nbsp;&nbsp;<mat-icon style="color: white;">list</mat-icon>
            &nbsp;&nbsp;LISTA CADASTRADOS 
        </div>

        <form [formGroup]="formBusca" novalidate (ngSubmit)="busca()">
            <div class="formTitulo containerGroup">
        
                <table datatable style="width: 100%; ">
                    <tbody>
                        <tr>
                            <th style="text-align: left;">
                                <mat-form-field appearance="outline" style="margin:3px;">
                                    <mat-label>Critério</mat-label>
                                    <mat-select formControlName="criterioBusca" >
                                        <mat-option value="codigo">Código</mat-option>
                                        <mat-option value="nome">Nome</mat-option>
                                        <mat-option value="cnpj">CNPJ</mat-option>
                                    </mat-select>
                                </mat-form-field>
        
                                <mat-form-field appearance="outline" style="margin:3px;">
                                    <mat-label>Valor</mat-label>
                                    <input matInput formControlName="valorBusca">
                                </mat-form-field>
                            </th>
        
                            <th style="text-align: right;">
                                <button mat-raised-button type="submit">
                                    <mat-icon>search</mat-icon>&nbsp;Buscar
                                </button>
                            </th>
        
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
            
                
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            *ngFor="let colunas of lstClientes" (click)="editar(colunas)">  
        
            <mat-expansion-panel-header class="tituloAcordeon" >
                <mat-panel-title>
                    <input hidden type="text" value="{{colunas.clie_id_cd_cliente}}"/>
                    <table datatable style="width: 100%;" >
                        <tbody>
                            <tr>
                                <td style="width: 100%;  text-align: left;">
                                    ( {{colunas.clie_id_cd_codigocliente}} ) {{colunas.clie_ds_nomecliente}} : {{colunas.clie_ds_cnpj}} 
                                    </td>
                            </tr>
                        </tbody>
                    </table>  
                </mat-panel-title>
                <mat-panel-description>
                    <table datatable style="width: 100%; text-align: right; margin-right: 60px; " >
                        <tbody>
                            <tr>
                                <td style="width: 100%">Inativo: {{colunas.clie_in_inativo}} </td>
                            </tr>
                        </tbody>    
                    </table>  
                </mat-panel-description>
            </mat-expansion-panel-header>
            <label style="cursor: pointer;"> 
                Editando... 
            </label>
        </mat-expansion-panel>
            
        
    
    
    
    </form>
    