<div style="text-align: right; width: 50%;display: inline-block; " >
    <h1>Adiar Lead time</h1>
</div>
<div style="text-align: right; width: 50%; display: inline-block; " >
    <button mat-button class="close-button" style="font-size: 10px;"  [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</div>

<hr/>

<form [formGroup]="formAdiarLT" novalidate (ngSubmit)="atualizarLeadtime()">

    <div class="form-group" style="width: 100%;height: 370x;">
        <table style="width: 100%; margin-top: 10px;text-align: center;">
            <tr>
                <td style="width:100%" class="formFrameLeadTime">
                    
                    <div class="tituloSeparador" style="font-weight: normal;">
                        &nbsp;&nbsp;<mat-icon>av_timer </mat-icon>
                        &nbsp; Alterar data 
                    </div>
                    <div class="divListAgendaFollowUp">
                        <table class="table-mat-card" style="width:100%">
                            <tr>
                                <td style="width: 100%;">
                                    <div class="divListAgendaFollowUp">
                                        <mat-form-field appearance="outline" style="width: 100%;">
                                            <mat-label>Data Novo Lead Time</mat-label>
                                            <input matInput [min]="leadtime_convertido" readonly [matDatepicker]="lt" formControlName="nova_data_lead_time">
                                            <mat-datepicker-toggle matSuffix [for]="lt"></mat-datepicker-toggle>
                                            <mat-datepicker #lt></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="text-align: center;">
                        <button type="submit" mat-raised-button color="primary" style="width: 120px;">Alterar Data</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>