.close-button{
  text-align: center;
  width: 25px;
  height: 35px;
}

h1{
  color: rgb(48, 69, 185);
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.hand{
  cursor: pointer;
}

.formClientes{
  font-size: 12px;
  margin: 4px;
  width: 95%; 
  height: 100px;
  overflow-y: auto; 
  border-radius: 10px;
  padding: 20px;
  border: 2px solid gray;
}

.formAgendamento{
  font-size: 12px;
  margin-left: 5px;
  width: 98%; 
  height: 500px;
  overflow-y: auto; 
  padding-top: 0px;
  padding: 5px;
  /*border: 2px solid gray;*/
  vertical-align: top;
  text-align: center;
}

.formSubAgendamento{
  font-size: 12px;
  margin: 0px;
  width: 100%; 
  height: 200px;
  overflow-y: auto; 
  border-radius: 10px;
  padding: 3px;
  border: 2px solid gray;
  vertical-align: top;
  background-color: whitesmoke;
}

.formFrameAddFollowup{
  font-size: 12px;
  margin: 0px;
  width: 100%; 
  height: 390px;
  overflow-y: auto; 
  border-radius: 10px;
  padding: 3px;
  border: 2px solid gray;
  vertical-align: top;
  background-color: whitesmoke;
}



.formFrameAddAgenda{
  font-size: 12px;
  margin: 0px;
  width: 100%; 
  height: 400px;
  overflow-y: auto; 
  overflow-x: hidden; 
  border-radius: 10px;
  padding: 3px;
  border: 2px solid gray;
  vertical-align: top;
  background-color: whitesmoke;
}

.bordaFieldset {
  border: 1px solid black;
}

.formEmailAgenda{
  font-size: 12px;
  margin: 0px;
  width: 100%; 
  height: 400px;
  overflow-y: auto; 
  overflow-x: hidden; 
  border-radius: 10px;
  padding: 3px;
  border: 2px solid gray;
  vertical-align: top;
  background-color: white;
}

.formFrameContatosTransportadora{
  font-size: 12px;
  margin: 0px;
  width: 100%; 
  height: 150px;
  overflow-y: auto; 
  border-radius: 10px;
  padding: 3px;
  border: 2px solid gray;
  vertical-align: top;
  background-color: whitesmoke;
}

.formFrameLeadTime{
  font-size: 12px;
  margin: 0px;
  width: 70%; 
  height: 270px;
  overflow-y: auto; 
  border-radius: 10px;
  padding: 3px;
  border: 2px solid gray;
  vertical-align: top;
  background-color: whitesmoke;
}

.formFrameListFollowup{
  font-size: 14px;
  margin: 0px;
  width: 100%; 
  height: 150px;
  padding: 3px;
  vertical-align: top;
}

.formFrameClientesEmbarque{
  font-size: 14px;
  margin: 0px;
  width: 100%; 
  height: 150x;
  padding: 0px;
  vertical-align: top;
}

.divListAgenda {
  font-size: 12px;
  margin: 0px;
  width: 100%; 
  height: 140px;
  overflow-y: auto; 
  border-radius: 10px;
  vertical-align: top;
}

.divListSkus {
  font-size: 12px;
  margin: 0px;
  width: 100%; 
  height: 365px;
  overflow-y: auto; 
  border-radius: 10px;
  vertical-align: top;
}

.divListAgendaFollowUp {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  margin: 0px;
  width: 100%; 
  height: 320px;
  overflow-y: auto; 
  border-radius: 10px;
  vertical-align: top;
}

.divListAgendarEmbarque{
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  margin: 0px;
  width: 100%; 
  height: 450px;
  overflow-y: auto; 
  border-radius: 10px;
  vertical-align: top;
}

.formFoups{
  font-size: 12px;
  margin: 4px;
  width: 96%; 
  height: 210px;
  overflow-y: auto; 
  border-radius: 10px;
  padding: 20px;
  border: 2px solid gray;
}

.formAcoes{
  font-size: 12px;
  margin: 4px;
  width: 96%; 
  height: 100px;
  overflow-y: auto; 
  border-radius: 10px;
  padding: 20px;
  border: 2px solid gray;
}

.formHistorico{
  font-size: 12px;
  margin: 4px;
  width: 96%; 
  height: 210px;
  overflow-y: auto; 
  border-radius: 10px;
  padding: 20px;
  border: 2px solid gray;
}

button{
  font-size: 10px;
  margin:3px;
  position: relative;
  right: 03px;
}

mat-card{
  text-align: left;
  margin-top: 5px;
  padding: 0px;
}

.table-mat-card{
  cursor: pointer;
  font-size: 10px;
  width: 100%;
  vertical-align: top;
  padding: 0px; 
  background-color:white;
}
  
/*FAZER PISCAR*/
@keyframes fa-blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.fa-blink {
-webkit-animation: fa-blink .2s linear 6;
-moz-animation: fa-blink .2s linear 6;
-ms-animation: fa-blink .2s linear 6;
-o-animation: fa-blink .2s linear 6;
animation: fa-blink .2s linear 6;
}


mat-slide-toggle{
    font-weight: normal;
}

.tdFixaSuperior{
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgb(235, 235, 235);
  border-bottom: 0.5px solid rgb(2, 114, 67);
  color: mediumblue;    
}

.tdFixaSuperiorEmbarque, mat-labe{
  color: darkslategray;
}

.tdFixaSuperiorEmbarque{
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgb(235, 235, 235);
  border-bottom: 0.5px solid rgb(2, 114, 67);
  color: mediumblue;    
  margin: 0px;
  padding: 0px;
}

.formPrincipalFixo{
  font-size: 12px;
  margin: 0px;
  width: 100%; 
  height: 250px;
  overflow-y: auto; 
  border-radius: 5px;
  padding: 5px;
  border: 0.5px solid rgb(2, 114, 67);
}


.formAgendamentoPrincipal{
  font-size: 12px;
  margin: 1px;
  width: 99%; 
  /*height: 350px;*/
  overflow-y: auto; 
  border-radius: 5px;
  padding: 0px;
  border: 0.5px solid rgb(2, 114, 67);
}
  


.containerAgendamentoGroup{
  background: white;
}

.tituloSeparador{
  text-align: left;
  vertical-align: middle; 
  margin-left: 0px; 
  font-size: 15px; 
  color: white; 
  font-weight: bold;
  border: 1px solid rgb(63, 81, 181);
  border-radius: 5px;
  width:100%; 
  height: 24px;
  background-color:rgb(63, 81, 181);
}

.subTituloSeparador{
  text-align: left;
  vertical-align: middle; 
  margin-top: 10px; 
  font-size: 12px; 
  color:white; 
  font-weight: bold;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  width:100%; 
  height: 19px;
  background-color: gray;
}


.subTituloSeparadorEmbarqueCliente{
  text-align: left;
  vertical-align: middle; 
  margin-top: 50px; 
  font-size: 12px; 
  color:white; 
  font-weight: bold;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  width:100%; 
  height: 19px;
  background-color: gray;
}

.containerGroup{
  background: white;
}

.listPrincipal{
  font-size: 12px;
  margin: 0px;
  width: 99%; 
  height: 100px;
  overflow-y: auto; 
  border-radius: 5px;
  padding: 5px;
  border: 0.5px solid rgb(2, 114, 67);
  /*background-color: rgb(184, 241, 218);*/
}

.tituloAcordeon{
  height:35px;
  width: 100%;  
  text-align: left;
  background-color: rgb(235, 235, 235);
}

.conteudoAcordeon{
  background-color: rgb(185, 229, 255);
  font-weight: bold;
  color: gray;
  }

  mat-slide-toggle{
    font-weight: normal;
  }

mat-panel-title{
  font-size: 12px;
}

mat-panel-description{
  font-size: 12px;
}

table{
  width: 100%;
  font-size: 12px;
}

button{
  width: 120px;
  background-color: crimson
}

mat-icon{
  color:white ;
  font-size: 20px;
  width: 20px;
  vertical-align:top;
}
