<form [formGroup]="formulario" novalidate (ngSubmit)="createAgendamento()">
    
<div style="text-align: right; width: 50%;display: inline-block; " >
    <h1>Agendar Cliente</h1>
</div>
<div style="text-align: right; width: 50%; display: inline-block; " >
    <button mat-button class="close-button" style="font-size: 10px;"  [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</div>

<hr/>

<!--AGENDA-->
    <div class="form-group" style="width: 100%;height: 500x; text-align: center;">
        <table style="width: 100%; margin-top: 10px;">
            <tr>
                <td style="width:100%" class="formFrameAddAgenda">
                    
                    <div class="tituloSeparador" style="font-weight: normal;">
                        &nbsp;&nbsp;<mat-icon>calendar_today </mat-icon>
                        &nbsp; Adicionar agenda para o embarque  
                    </div>

                    <div class="divListAgendarEmbarque">
                        <table class="table-mat-card" style="width:100%">
                            <tr>
                                <td style="width: 100%;">
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">
                                   
                                    <mat-form-field appearance="outline" style="margin:3px;width: 98%;">
                                        <mat-label>Tipo Agendamento</mat-label>
                                        <mat-select formControlName="daag_ds_tipoagendamento" (selectionChange) = "desativarRequired()">
                                            <mat-option value="Agendamento">Agendamento</mat-option>
                                            <mat-option value="Retificação">Retificação de agenda</mat-option>
                                            <mat-option value="Reagendamento">Reagendamento</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" style="margin:3px;width: 98%;">
                                        <mat-label>Data Agendamento</mat-label>
                                        <input matInput [matDatepicker]="agendamento" formControlName="daag_dh_agendamento">
                                        <mat-datepicker-toggle matSuffix [for]="agendamento"></mat-datepicker-toggle>
                                        <mat-datepicker #agendamento></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" style="margin:3px;width: 98%;">
                                        <mat-label>Hora Agendamento</mat-label>
                                        <input matInput formControlName="daag_ds_horaagendamento" type="time">
                                    </mat-form-field>
                            
                                    <mat-form-field appearance="outline" style="margin:3px; width: 98%;">
                                        <mat-label>Motivo</mat-label>
                                        <mat-select formControlName="daag_id_cd_motivo" >
                                            <mat-option *ngFor="let colunas of lstMotivoModelAgendamento" [value]="colunas.moti_id_cd_motivo">{{colunas.moti_ds_motivo}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                            
                                    <mat-form-field appearance="outline" style="margin:3px;width: 98%;">
                                        <mat-label>Responsável</mat-label>
                                        <mat-select formControlName="daag_id_cd_responsavel" >
                                            <mat-option *ngFor="let colunas of lstResposavelAgendamento" [value]="colunas.resp_id_cd_responsavel">{{colunas.resp_nm_responsavel}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">
                                    
                            
                                    <mat-form-field appearance="outline" style="margin:3px;width: 98%;">
                                        <mat-label>Status</mat-label>
                                        <mat-select formControlName="emba_id_cd_status" >
                                            <mat-option *ngFor="let colunas of lstStatusModel" [value]="colunas.stat_id_cd_status">{{colunas.status_ds_descricaostatus}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                            
                                    <mat-form-field appearance="outline" style="margin:3px;width: 98%;">
                                        <mat-label>Senha da transportadora</mat-label>
                                        <input matInput formControlName="daag_ds_senhaagendamento">
                                    </mat-form-field>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">
                                    <mat-form-field appearance="outline" style="margin:3px;width: 98%;">
                                        <mat-label>Cutoff</mat-label>
                                        <mat-select formControlName="emba_in_cutoff" (selectionChange) = "updateCutoff()">
                                            <mat-option value="S">Sim</mat-option>
                                            <mat-option value="N">Não</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                            
                                    <mat-form-field appearance="outline" style="margin:3px;width: 98%;" *ngIf="cutoff">
                                        <mat-label>Motivo</mat-label>
                                        <mat-select formControlName="emba_id_cd_motivo">
                                            <mat-option *ngFor="let colunas of lstMotivoModelCutoff" [value]="colunas.moti_id_cd_motivo">{{colunas.moti_ds_motivo}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                            
                                    <mat-form-field appearance="outline" style="margin:3px;width: 98%;" *ngIf="cutoff">
                                        <mat-label>Responsável</mat-label>
                                        <mat-select formControlName="emba_id_cd_responsavel" >
                                            <mat-option *ngFor="let colunas of lstResposavelCutoff" [value]="colunas.resp_id_cd_responsavel">{{colunas.resp_nm_responsavel}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                            
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col justify-content-start">
                            
                            <button type="submit" mat-raised-button color="primary" style="width: 120px;" > 
                                <mat-icon>save</mat-icon>&nbsp;&nbsp;&nbsp;Agendar
                            </button>
                        </div>
                    </div>    
                    
                        
                    
                </td>
            </tr>
        </table>
    </div>
</form>    