<!--Nome titulo da tela-->
<table style="width: 100%">
        <tr>
            <td style="width:50%">
                <h1 *ngIf="mostrarShipment">{{embarque.clie_ds_nomecliente}}
                    <mat-icon aria-hidden="false" style="font-size: 15px; color: crimson; cursor: pointer;" matTooltip="Detalhes do Cliente" 
                        (click)="openClienteDialog(id_embarque)">help</mat-icon>
                </h1>
            </td>
            <td style="width:40%; text-align: right;" >&nbsp;</td>
            <td style="width:10%; text-align: right;" >
                <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="mostrarLoading" ></mat-progress-spinner>
                <!--<img *ngIf="mostrarLoading" src ="../../assets/img/loading1.gif" style="width: 40px;">-->
            </td>
        </tr>
</table>

<hr/>
<!-- ITENS PARA CADASTRO --> 
<div class="formAgendamentoPrincipal containerAgendamentoGroup"  >
    <div style="width:100%; height: 24px; background-color: rgb(63, 81, 181); vertical-align: top;">
        <table style=" width: 99%; margin-left: 10px; font-size: 15px; color: white; font-weight: bold;  ">
            <tr>
                <td style=" width: 20%;vertical-align: top;">&nbsp; ID EMBARQUE {{id_embarque}} </td>
                <td style=" width: 35%; text-align: right ;vertical-align: top;" *ngIf="mostrarShipment">STATUS : <i> {{embarque.stat_ds_status}}</i></td>
                
                <td style="width: 28%; text-align: right;vertical-align: top;"  >
                    <span class="material-icons hand" matTooltip="Enviar ficha para as transportadoras" (click)="enviaEmail('emailTransportadora')">local_shipping</span> 
                </td>
                <td style="vertical-align: top;" class="hand" (click)="enviaEmail('emailTransportadora')" >Transportadora</td>
                
                <td style="width: 6%; text-align: right;vertical-align: top;" >
                    <span class="material-icons hand" matTooltip="Enviar ficha para os clientes" (click)="enviaEmail('emailCliente')" >people</span> 
                </td>
                <td style="vertical-align: top;"  class="hand" (click)="enviaEmail('emailCliente')">Cliente</td>
                
            <!--<td style="width: 6%; text-align: right;vertical-align: top;" class="hand" (click)="getPDF(id_embarque)" >
                    &nbsp;
                    <a style=" color: white;" class="material-icons" [href]="urlDownload" [download]="nmFile" matTooltip="Download PDF">cloud_download</a> 
                </td>-->
                <td style="width: 6%; text-align: right;vertical-align: top;" class="hand"  >
                    &nbsp;
                    <a style=" color: white;" class="material-icons" (click)="getCopyPast(id_embarque)">cloud_download</a> 
                </td>
                <!-- <td style="width:5%; text-align: right">
                    <a style=" color: white;" class="material-icons" (click)="openEmailDialog(id_embarque)">mail</a> 
                </td> -->
            </tr>
        </table>
    </div>
    <!-- <div style="width:100%; height: 24px; background-color: rgb(63, 81, 181); ">
        <label style="margin-left: 10px; font-size: 15px; color: white; font-weight: bold;">
            &nbsp;STATUS {{embarque.stat_ds_status}}
        </label>
    </div> -->

    <!--SHIPMENT-->
    <div class="formAgendamento">  
        <div class="subTituloSeparador" *ngIf="mostrarShipment">

            <table style=" width: 98%; margin-left: 10px; color: white; font-weight: bold;">
                <tr>
                    <td style=" width: 35%;">
                        INFORMAÇÕES DO TRANSPORTE
                    </td>
                    <td style=" width: 60%;" *ngIf="mostrarShipment">
                       <b>TRANSPORTADORA CONFIRMADA? </b>&nbsp; {{embarque.emba_in_transportadoraconfirmada}} 
                    </td>
                    <td style=" width: 05%;">
                    </td>
                </tr>
            </table>
           
        </div> 
        <div style="height: 60px;" class="listPrincipal containerGroup" >
            <table style="width: 100%;text-align: left;" *ngIf="mostrarShipment">
                <tr>
                    <td style="width: 10%;"><b>Peso Bruto:    </b> {{embarque.skud_ds_pesobruto}}</td>
                    <td style="width: 10%;"><b>Peso Líquido:    </b> {{embarque.skud_ds_pesoliquido}}</td>
                    <td style="width: 10%;"><b>Cubagem: </b> {{embarque.skud_ds_volumecubico}}</td>
                    <td style="width: 7%;"><b>Valor:   </b> {{embarque.skud_ds_valor}}</td>
                    <td style="width: 12%;"><b>Qtd:  </b> {{embarque.skud_nr_quantidade}}</td>
                    <td style="width: 11%;text-align: right;" class="hand" (click)="openAdiarLeadTimeDialog(embarque.emba_id_cd_embarque, embarque.emba_dh_leadtime)">
                        <div style="width: 100%;height: 100%;">
                            <div style="color:white; text-align: center; margin:2px; background-color: rgb(63, 81, 181); border-radius: 5px;">  
                               LEAD TIME : <b>{{embarque.emba_dh_leadtime}}</b>
                            </div>
                        </div> 
                    </td>
                </tr>
                <tr>
                    <td style="width: 10%;"><b>Veículo:  </b> {{embarque.emba_ds_veiculo}} </td>
                    <td style="width: 10%;"><b>Tipo Carga:</b> {{embarque.emba_ds_tipocarga}} </td>
                    <td style="width: 17%;" colspan="2">
                            <b>Transportadora:</b> ({{embarque.emba_ds_cod_transportadora}}) 
                            <mat-icon aria-hidden="false" style="font-size: 15px; color: crimson; cursor: pointer;" matTooltip="Detalhes do Cliente" 
                                (click)="openTransportadoraDialog(embarque.emba_ds_cod_transportadora)">help</mat-icon>
                    </td>
                    <td style="width: 23%;" colspan="2"><b>Tipo veículo:  </b> {{embarque.emba_ds_tipoveiculo}} </td>
                </tr>
            </table>
        </div>
        <mat-divider></mat-divider>
        
        <!--DELIVERY-->
        <div class="subTituloSeparador" *ngIf="mostrarShipment">
            &nbsp;&nbsp;&nbsp;DETALHES DO SHIPMENT  {{embarque.skud_id_cd_shipment}}
        </div> 
        <div class="listPrincipal containerGroup">
            <table style="width: 100%; text-align: left;" *ngIf="mostrarShipment">
                <tr *ngFor="let delivery of deliverys">
                    <td style="width: 13%;"><b>Delivery:</b> {{delivery.skud_id_cd_delivery}}</td>
                    <!--<td style="width: 10%;"><b>N. fiscal:</b> {{delivery.nofi_nr_notafiscal}}</td>-->
                    <td style="width: 10%;"><b>P. Bruto:    </b> {{delivery.skud_ds_pesobruto}}</td>
                    <td style="width: 10%;"><b>P. Liquido:    </b> {{delivery.skud_ds_pesoliquido}}</td>
                    <td style="width: 10%;"><b>Cubagem: </b> {{delivery.skud_ds_volumecubico}}</td>
                    <td style="width: 12%;"><b>Valor:   </b> {{delivery.skud_ds_valor}}</td>
                    <td style="width: 5%;"><b>Qtd:  </b> {{delivery.skud_nr_quantidade}}</td>

                    <td style="width: 15%;"><b>P. Mondelez:  </b> {{delivery.skud_ds_pedidomondelez}}</td>
                    <td style="width: 15%;"><b>P. Cliente:  </b> {{delivery.skud_ds_pedidocliente}}</td>

                    <td *ngIf="delivery.skud_in_cancelado == 'N'" style="width: 15%;"><b>Cancelado:  </b> Não</td>
                    <td *ngIf="delivery.skud_in_cancelado == 'S'" style="width: 15%; color: red;"><b>Cancelado:  </b>Sim</td>

                    <td style="width: 5%;text-align: right;" class="hand" (click)="openNotas(delivery.skud_ds_pedidomondelez)">
                        <mat-icon style="color: rgb(63, 81, 181);" matTooltip="Notas fiscais">receipt</mat-icon>
                    </td>

                    <td>&nbsp;</td>
                    <td style="width: 5%;text-align: right;" class="hand" (click)="openSkus(delivery.skud_id_cd_delivery)">
                        <div style="width: 100%;height: 100%;">
                            <div style="color:white; text-align: center; margin:2px; background-color: rgb(63, 81, 181); border-radius: 5px;">  
                                <mat-icon style="font-size: 8;" matTooltip="Detalhes SKU">list</mat-icon>
                            </div>
                        </div>
                    </td>

                </tr>
            </table>
        </div>
        <!--AGENDA-->
        <table style="width: 100%; margin-top: 10px;">
            <tr>
                <td style="width:58%" class="formSubAgendamento">
                    <div class="tituloSeparador">
                        &nbsp;&nbsp;<mat-icon>calendar_today</mat-icon>
                        &nbsp;&nbsp;Agenda  
                    </div>
                    <div class="divListAgenda">
                        <div class="example-button-row" *ngFor="let colunas of lstAgendaModel">

                            <mat-card (click)="openAgendaDialog(colunas.daag_id_cd_agendamento)">
                                <table class="table-mat-card">
                                    <tr>
                                        <td style="width: 15%;"><b>Data:</b> {{colunas.daag_dh_agendamento}}</td>
                                        <td style="width: 25%;"><b>Tipo:</b> {{colunas.daag_ds_tipoagendamento}}</td>
                                        <td style="width: 30%;"><b>Motivo:</b> {{colunas.moti_ds_motivo}}</td>
                                        <td style="width: 30%;"><b>Responsavel:</b> {{colunas.resp_nm_responsavel}}</td>
                                    </tr>
                                </table>
                            </mat-card>
                            <!--<button mat-raised-button color="primary"  (click)="openAgendaHistDialog()" matTooltip="Historico de agendamento">      <mat-icon>fact_check    </mat-icon>Historico Agenda</button>-->
                        </div>
                        
                    </div>
                    <button mat-raised-button color="primary" (click)="openAgendaDialog('0')" 
                                matTooltip="Inserir data de agendamento" >   
                        <mat-icon>control_point</mat-icon>&nbsp;&nbsp;&nbsp;Add Agenda
                    </button>
                    <button mat-raised-button color="primary" (click)="openStatusDialog(id_embarque)" 
                                matTooltip="Alterar Status" >   
                        <mat-icon>edit</mat-icon>&nbsp;&nbsp;&nbsp;Alterar Status
                    </button>
                </td>
                <td style="width:2%"></td>    
                <td style="width:38%" class="formSubAgendamento">
                    <div class="tituloSeparador">
                        &nbsp;&nbsp;<mat-icon>speaker_notes </mat-icon>
                        &nbsp;&nbsp;FollowUp  
                    </div>
                    <div class="divListAgenda">

                        <div *ngFor="let colunas of listEmbarqueFollowup" (click)="showDialogDetalheFollowUp(colunas)">
                            <div class="example-button-row">
                                <mat-card>
                                    <table class="table-mat-card">
                                        <tr>
                                            <td style="width: 32%;"><b>Data</b> {{colunas.emfo_dh_registro}}</td>
                                            <td style="width: 68%;"><b>FollowUp</b> {{colunas.foup_ds_followup}}</td>
                                        </tr>
                                    </table>
                                </mat-card>

                            </div>
                        </div>
                    </div>
                    <button mat-raised-button color="primary" (click)="openFoupDialog(id_embarque, embarque.emba_id_cd_status)"      
                             matTooltip="Inserir Follow-Up">             
                        <mat-icon>control_point</mat-icon>&nbsp;&nbsp;&nbsp;FollowUp
                    </button>
                                            
                </td>

            </tr>

        </table>
        
    </div>

</div>