<div style="width: 100%; height: 500px; text-align: center;">
    <table style="width: 100%; margin-top: 0px;">
        <tr>
            <td style="width:100%" >
                    <mat-card>
                            <table datatable style="width: 100%;" class="formFrameClientesEmbarque">
                                
                                <tr>
                                    <td class="tdFixaSuperiorEmbarque">

                                        <div style="width: 50%; display: inline-block; vertical-align: middle; " >
                                            <div style="font-size:30px; font-weight: bold;">&nbsp;&nbsp;{{formCliente.clie_ds_nomecliente}}</div>
                                        </div>
                                        <div style="text-align: right; width: 50%; display: inline-block; " >
                                            <button mat-button class="close-button" style="font-size: 10px;"  [mat-dialog-close]="true">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </div>
                                        <hr/>
                                        
                                    <!--CLIENTE tdFixaSuperior-->
                                        
                                        <div class="tituloSeparador">
                                            <table datatable style="width: 100%;">
                                                <tr>
                                                    <th style="width:20%; position: sticky;top: 0;"> 
                                                        CNPJ :
                                                        <label style="font-weight: normal;" >{{formCliente.clie_ds_cnpj}}</label>
                                                    </th>
                                                    <th style="width:20%; position: sticky;top: 0;"> 
                                                        COD. :
                                                        <label style="font-weight: normal;" >{{formCliente.clie_id_cd_codigocliente}}</label>
                                                    </th>
                                                    <th style="width:30%; position: sticky;top: 0;"> 
                                                        AGENDAMENTO OBRIGATÓRIO :
                                                        <label style="font-weight: normal;">{{formCliente.clie_ds_agendamentoobrigatorio}}</label>
                                                    </th>
                                                    <th style="width:20%; position: sticky;top: 0;">
                                                        NF OBRIGATÓRIA : 
                                                        <label style="font-weight: normal;">{{formCliente.clie_ds_nfobrigatoria}}</label>
                                                    </th>
                                                    <th style="width:20%; position: sticky;top: 0;">  
                                                        INATIVO :
                                                        <label style="font-weight: normal;">{{formCliente.clie_in_inativo}}</label>
                                                    </th>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>


                        <div style="height: 350px; width: 100%; overflow-y: auto;">
                            <table style="width: 100%;">
                                <!--DADOS CLIENTE-->
                                <tr style="margin-top: 100px;">
                                    <td>
                                        <div id="idSubTitulo" class="subTituloSeparador">
                                            &nbsp;DADOS CLIENTE
                                        </div>
                                            <fieldset style="border: 1px solid rgb(192, 192, 192) ;">
                                                <table style="width: 100%;"> 
                                                    <tr>
                                                        <th style="width:25%"> 
                                                             TAXA DE DESCARGA :  
                                                             <label style="font-weight: normal;">{{formCliente.clie_ds_taxadescarga}}</label>
                                                        </th>
                                                        <th style="width:2%">&nbsp;</th>
                                                        <th style="width:23%"> 
                                                            DIAS RECEBIMENTO :   
                                                            <label style="font-weight: normal;">{{formCliente.clie_ds_diasrecebimento}}</label>
                                                        </th>
                                                        <th style="width:2%">&nbsp;</th>
                                                        <th style="width:23%">
                                                            HORARIO RECEBIMENTO :   
                                                            <label style="font-weight: normal;">{{formCliente.clie_ds_horariorecebimento}}</label>
                                                        </th>
                                                        <th style="width:2%">&nbsp;</th>
                                                        <th style="width:23%; text-align: left; vertical-align: top;" rowspan="3" >  
                                                            OBSERVAÇÃO : 
                                                            <label style="font-weight: normal;">{{formCliente.clie_ds_observacao}}</label>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:25%">
                                                            TIPO RESTRIÇÃO :   
                                                            <label style="font-weight: normal;">{{formCliente.clie_ds_tiporestricao}}</label>
                                                        </th>
                                                        <th style="width:2%">&nbsp;</th>
                                                        <th style="width:23%"> 
                                                            RESTRIÇÃO CIRCULAÇÃO :   
                                                            <label style="font-weight: normal;">{{formCliente.cli_ds_restricaocirculacao}}</label>
                                                        </th>
                                                        <th style="width:2%">&nbsp;</th>
                                                        <th style="width:23%">
                                                               HORA RESTRIÇÃO :  
                                                               <label style="font-weight: normal;">{{formCliente.clie_ds_horariorestricao}}</label>
                                                        </th>
                                                       
                                                        <th style="width:2%">&nbsp;</th>
                                                        <th style="width:23%; text-align: right;">
                                                            
                                                        </th>
                                                    </tr>
                
                                                    <tr>
                                                        <th style="width:23%">
                                                            RESPONSAVEL REVISÃO :  
                                                            <label style="font-weight: normal;">{{formCliente.clie_ds_resprevisao}}</label>
                                                        </th>
                                                        <th style="width:2%">&nbsp;</th>
                                                        <th style="width:23%"> 
                                                            DATA REVISÃO :  
                                                            <label style="font-weight: normal;">{{formCliente.clie_ds_datarevisao}}</label>
                                                        </th>
                                                        <th style="width:2%">&nbsp;</th>
                                                        <th style="width:23%">
                                                        </th>
                                                        
                                                        <th style="width:2%">&nbsp;</th>
                                                        <th style="width:23%;">
                                                        </th>
                                                    </tr>

                                                    <tr>
                                                        <th style="width:100%" colspan="7">
                                                            EMAIL : 
                                                            <!-- <label style="font-weight: normal;">{{formCliente.csCdtbContatoclienteCoclBean.cocl_ds_emailcontatocliente}}</label> -->
                                                        </th>
                                                    </tr>
                                            </table>
                                        </fieldset>
                                    </td>
                                </tr>

                
                                <!-- ENDEREÇO -->
                                <tr>
                                    <td>
                                        <div class="subTituloSeparador">
                                            &nbsp;ENDEREÇO
                                        </div>
                                        <fieldset style="border: 1px solid rgb(192, 192, 192) ;">
                                            <table style="width: 100%;">  
                                                <tr>
                                                    <th style="width:15%">
                                                       CEP :  
                                                       <label style="font-weight: normal;">{{formCliente.clie_ds_cep}}</label>
                                                    </th>
                                                     <th style="width:12%"> 
                                                        UF :  
                                                        <label style="font-weight: normal;">{{formCliente.clie_ds_uf}}</label>
                                                    </th>
                                                    <th style="width:25%">
                                                        CIDADE  :  
                                                        <label style="font-weight: normal;">{{formCliente.clie_ds_cidade}}</label>
                                                    </th>
                                                    <th style="width:48%">
                                                        ENDEREÇO :  
                                                        <label style="font-weight: normal;">{{formCliente.clie_ds_endereco}}</label>
                                                    </th>
                                                </tr>
                
                                                <tr>
                                                    <th style="width:15%">
                                                        
                                                    </th>
                                                    <th style="width:12%"> 
                                                       
                                                    </th>
                                                    <th style="width:25%">
                                                        REGIÃO  : 
                                                        <label style="font-weight: normal;">{{formCliente.clie_ds_regiao}}</label>
                                                    </th>
                                                    <th style="width:48%">
                                                        AGRUPAMENTO : 
                                                        <label style="font-weight: normal;">{{formCliente.clie_ds_agrupamento}}</label>
                                                    </th>
                                                </tr>
                                            </table>
                                        </fieldset>
                                    </td>
                                </tr>
                           
                                <!-- VEICULOS -->
                                <tr>
                                    <td>
                                        <div class="subTituloSeparador">
                                            &nbsp;VEICULOS
                                        </div>
                                        <fieldset style="border: 1px solid rgb(192, 192, 192) ;">
                                            <table style="width: 100%;">   
                                                <tr>
                                                    <th style="width:20%;">
                                                        CÓDIGO MAX : 
                                                        <label style="font-weight: normal;">{{formCliente.clie_ds_codveiculomax}}</label>
                                                    </th>
                                                     <th style="width:20%;">
                                                       TIPO VEICULO MAX : 
                                                       <label style="font-weight: normal;">{{formCliente.clie_ds_tipoveiculomax}}</label>
                                                    </th>
                                                    <th style="width:20%;">  
                                                        PESO : 
                                                        <label style="font-weight: normal;">{{formCliente.clie_ds_pesoveiculo}}</label>
                                                    </th>
                                                    <th style="width:20%;">
                                                         DEDICADO : 
                                                         <label style="font-weight: normal;">{{formCliente.clie_ds_veiculodedicado}}</label>
                                                    </th>
                                                    <th style="width:20%;">
                                                        PAGAR TAXA DEDICADO : 
                                                        <label style="font-weight: normal;">{{formCliente.clie_ds_pagataxaveiculodedicado}}</label>                                                        
                                                    </th>                
                                                </tr>
                                                <tr>
                                                    <th style="width:20%"> 
                                                        &nbsp;
                                                    </th>
                                                    <th style="width:20%">
                                                       VEICULO MAX : 
                                                       <label style="font-weight: normal;">{{formCliente.clie_cd_veiculomax}}</label>
                                                    </th>
                                                    <th style="width:60%;" colspan="3">
                                                        TIPO DESCARGA : 
                                                        <label style="font-weight: normal;">{{formCliente.clie_ds_tipodescarga}}</label>
                                                    </th>
                                                </tr>
                                            </table>
                                        </fieldset>
                                    </td>
                                </tr>
                                
                                <!--PALETES-->
                                <tr>
                                    <td>
                                        <div class="subTituloSeparador">
                                            &nbsp;PALETE
                                        </div>
                                        <fieldset style="border: 1px solid rgb(192, 192, 192) ;">
                                            <table>   
                                                <!--dados adicionais-->
                                                <tr>
                                                    <th style="width:20%">
                                                        PALETIZAÇÃO ESPECIAL : 
                                                        <label style="font-weight: normal;">{{formCliente.clie_ds_paletizacaoespecial}}</label>
                                                    </th>
                                                    <th style="width:20%"> 
                                                        PALETIZAÇÃO MONDELEZ : 
                                                        <label style="font-weight: normal;">{{formCliente.clie_ds_paletizacaomondelez}}</label>
                                                    </th>
                                                    <th style="width:20%">
                                                        EXIGE PALETE : 
                                                        <label style="font-weight: normal;">{{formCliente.clie_ds_clienteexigepalete}}</label>
                                                    </th>
                                                    <th style="width:20%; ">
                                                        TIPO PALETIZAÇÃO : 
                                                        <label style="font-weight: normal;">{{formCliente.clie_ds_tipopaletizacao}}</label>
                                                    </th>
                                                    <th style="width:20%;" >  
                                                        ALTURA PALETE  : 
                                                        <label style="font-weight: normal;">{{formCliente.clie_ds_alturpalete}}</label>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th style="width:20%">
                                                       FEFO ESPECIAL : 
                                                       <label style="font-weight: normal;">{{formCliente.clie_ds_fefoespecial}}</label>
                                                    </th>
                                                    <th style="width:80%;" colspan="4">  
                                                        ALTURA PALETE  : 
                                                        <label style="font-weight: normal;">{{formCliente.clie_ds_alturpalete}}</label>
                                                    </th>
                                                </tr>
                                            </table>
                                        </fieldset>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="subTituloSeparador">
                                            &nbsp;AGENDAMENTO
                                        </div>
                                        <fieldset style="border: 1px solid rgb(192, 192, 192) ;">
                                            <table>  
                                            <!--dados adicionais-->  
                                            <tr>
                                                <th style="width:20%">
                                                     TEM AGENDAMENTO : 
                                                     <label style="font-weight: normal;">{{formCliente.clie_ds_temagendamento}}</label>
                                                </th>
                                                <th style="width:20%"> 
                                                    TIPO AGENDAMENTO : 
                                                    <label style="font-weight: normal;">{{formCliente.clie_ds_tipoagendamento}}</label>
                                                   
                                                </th>
                                                <th style="width:20%">
                                                    ESPERA CLIENTE : 
                                                    <label style="font-weight: normal;">{{formCliente.clie_ds_esperacliente}}</label>
                                                </th>
                                                <th style="width:40%">
                                                </th>
                                            </tr>
                                        </table>
                                    </fieldset>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="subTituloSeparador">
                                            &nbsp;CONTATOS
                                        </div>
                                        <fieldset style="border: 1px solid rgb(192, 192, 192) ;">
                                            <table>  
                                            <!--dados adicionais-->  
                                            <tr *ngFor="let contato of lstContatos[0]">
                                                <th style="width:20%" >
                                                     EMAIL : 
                                                     <label style="font-weight: normal;">{{contato.cocl_ds_emailcontatocliente}}</label>
                                                </th>
                                            </tr>
                                        </table>
                                    </fieldset>
                                    </td>
                                </tr>
                                
                        </table>

                    </div>
                    </mat-card>

                    <br/>
                    <div *ngIf="formCliente.clie_nm_arquivoprocessado != '' && formCliente.clie_nm_arquivoprocessado != null">
                        Arquivo de importação : 
                        <label style="font-weight: normal;">{{formCliente.clie_nm_arquivoprocessado}}</label>
                    </div>
                    <br/>
                
            </td>
        </tr>
    </table>
</div>