 
<div style="text-align: right; width: 80%;display: inline-block; " >
    <h1>Detalhes do embarque </h1>
</div>
<div style="text-align: right; width: 20%; display: inline-block; " >
    <button mat-button class="close-button" style="font-size: 10px;"  [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</div>

<hr/>


<div class="form-group" style="width: 100%;height: 500x; text-align: left;">
    <table style="width: 100%; margin-top: 10px;">
        <tr>
            <td style="width:100%" class="formEmailAgenda">
                
                <div class="tituloSeparador" style="font-weight: normal;">
                    &nbsp;&nbsp;<mat-icon>calendar_today </mat-icon>
                    Texto padrão com resumo da solicitação (Padrão enviado para o cliente)
                </div>
                
                <fieldset style="width: 100%;">
                    <div class="divListAgendarEmbarque">
                        <!--<div [innerHTML]="layoutHtml"></div>-->

                        
                        <div style="font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left; width: 95%; font-size: 11px;">
                            	<br/>Prezado cliente, segue solicitação de agendamento. 
                               <br/><br/> 
                            
                              	<fieldset style="width: 100%;"> 
                                		<table style="width: 100%; text-align: left; font-size: 11px;"> 
                                            		<tr> 
                                                		<td style="width: 100%;text-align:center;font-size: 11px;font-weight: bold;"> 
                                							<div *ngIf="completoBean != null" >[ Embarque  {{completoBean.detalhesShip.emba_id_cd_embarque}}  ]</div> 
                                						</td> 
                                            		</tr> 
                                                    <tr> 
                                                        <td style="width: 100%;text-align:center;font-size: 11px;font-weight: bold;"> 
                                                            <table style="width: 100%; font-size: 11px;"> 
                                                                <tr> 
                                                                    <td style="text-align:center;font-weight: bold;font-size: 11px;"> &nbsp;&nbsp;Shipment </td> 
                                                                    <td style="text-align:center;font-weight: bold;font-size: 11px;"> &nbsp;&nbsp;Valor líquido </td> 
                                                                    <td style="text-align:center;font-weight: bold;font-size: 11px;"> &nbsp;&nbsp;Cubagem liquida </td> 
                                                                    <td style="text-align:center;font-weight: bold;font-size: 11px;"> &nbsp;&nbsp;Peso líquido </td> 
                                                                    <td style="text-align:center;font-weight: bold;font-size: 11px;"> &nbsp;&nbsp;Qtd Vol </td> 
                                                                    <td style="text-align:center;font-weight: bold;font-size: 11px;"> &nbsp;&nbsp;Tipo de veículo </td> 
                                                                    <td style="text-align:center;font-weight: bold;font-size: 11px;"> &nbsp;&nbsp;CD Origem </td> 
                                                                    <td style="text-align:center;font-weight: bold;font-size: 11px;"> &nbsp;&nbsp;Data sugerida </td> 
                                                                </tr>
                                                                <tr> 
                                                                    <td *ngIf="completoBean != null" style="text-align:center;font-size: 11px;"> &nbsp;&nbsp; {{completoBean.detalhesShip.skud_id_cd_shipment}}       </td>  
                                                                    <td *ngIf="completoBean != null" style="text-align:center;font-size: 11px;"> &nbsp;&nbsp; {{completoBean.detalhesShip.skud_ds_valor}}             </td>  
                                                                    <td *ngIf="completoBean != null" style="text-align:center;font-size: 11px;"> &nbsp;&nbsp; {{completoBean.detalhesShip.skud_ds_volumecubico}}      </td>  
                                                                    <td *ngIf="completoBean != null" style="text-align:center;font-size: 11px;"> &nbsp;&nbsp; {{completoBean.detalhesShip.skud_ds_pesoliquido}}       </td>  
                                                                    <td *ngIf="completoBean != null" style="text-align:center;font-size: 11px;"> &nbsp;&nbsp; {{completoBean.detalhesShip.skud_nr_quantidade}}        </td>  
                                                                    <td *ngIf="completoBean != null" style="text-align:center;font-size: 11px;"> &nbsp;&nbsp; {{completoBean.detalhesShip.emba_ds_tipoveiculo}}       </td>  
                                                                    <td *ngIf="completoBean != null" style="text-align:center;font-size: 11px;"> &nbsp;&nbsp; {{completoBean.detalhesShip.emba_ds_planta}}            </td> 
                                                                    <td *ngIf="completoBean != null" style="text-align:center;font-size: 11px;"> &nbsp;&nbsp; {{completoBean.detalhesShip.daag_dh_agendamento}}       </td> 
                                                                </tr> 
                                                            </table> 
                                                        </td> 
                                            		</tr> 
                                        	</table> 
                                  	</fieldset> 
                            
                            	<br/> Atenção!!!<br/><br/>
                            
                            	Para que tenhamos tempo hábil de enviar as informações às transportadoras e possamos cumprir corretamente o Lead Time de entrega, solicitamos que as repostas de agendamento sejam enviadas até as 14:00hs do dia vigente (dia da solicitação).<br/>
                            	Se porventura não retornarem dentro deste prazo, por gentileza acrescentar 1 dia na data de agendamento sugerida. <br/><br/>
                            
                            	Cargas que não tiverem o agendamento confirmado no prazo de 48 horas, poderão seguir processo de desalocação/cancelamento.<br/>
                            
                            </div> 

                    </div>
                </fieldset>                    
            </td>
        </tr>
    </table>
</div>
