<div style="text-align: right; width: 50%;display: inline-block; " >
    <h1>Emails</h1>
</div>
<div style="text-align: right; width: 50%; display: inline-block; " >
    <button mat-button class="close-button" style="font-size: 10px;"  [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</div>

<hr/>

<div style="width:100%; height: 24px; background-color: rgb(63, 81, 181); vertical-align: top;">
    <table style=" width: 99%; margin-left: 10px; font-size: 15px; color: white; font-weight: bold;  ">
        <tr>
            <td style="width:6%; text-align: right;vertical-align: top;"  >
                <span *ngIf="!transpSelecionado" class="material-icons hand" matTooltip="Buscar Emails Transportadora" (click)="buscarEmailsTransportadora()">local_shipping</span> 
                <span *ngIf="transpSelecionado" class="material-icons hand" matTooltip="Buscar Emails Transportadora" (click)="buscarEmailsTransportadora()" style="color:greenyellow">local_shipping</span> 
            </td>
            <td *ngIf="!transpSelecionado" style="vertical-align: top;" class="hand"  (click)="buscarEmailsTransportadora()">Transportadora</td>
            <td *ngIf="transpSelecionado" style="vertical-align: top;" class="hand"  (click)="buscarEmailsTransportadora()" style="color:greenyellow">Transportadora</td>

            <td style="width: 20%; text-align: right;vertical-align: top;" >
                <span *ngIf="!clienteSelecionado" class="material-icons hand" matTooltip="Buscar Contatos Cliente" (click)="buscarEmailsCliente()" >people</span> 
                <span *ngIf="clienteSelecionado" class="material-icons hand" matTooltip="Buscar Contatos Cliente" (click)="buscarEmailsCliente()" style="color:greenyellow">people</span> 
            </td>
            <td *ngIf="!clienteSelecionado" style="vertical-align: top;"  class="hand" (click)="buscarEmailsCliente()">Cliente</td>
            <td *ngIf="clienteSelecionado" style="vertical-align: top;"  class="hand" (click)="buscarEmailsCliente()" style="color:greenyellow">Cliente</td>

            <td style="width: 33%; text-align: right;vertical-align: top;" >
                <span class="material-icons hand" matTooltip="Buscar Contatos Focal"  (click)="buscarEmailsFocal()">my_location</span> 
            </td>
            <td style="vertical-align: top;"  class="hand" (click)="buscarEmailsFocal()">Focal</td>
        </tr>
    </table>
</div>

<hr/>
<div class="subTituloSeparador">
   Formalizar para: {{formalizarPara}}
</div>
<br>
<div style="width: 100%; text-align: center;">
    <form [formGroup]="formEmails" novalidate (ngSubmit)="EnviarEmail()">
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Lista de E-mails para enviar</mat-label>
            <textarea matInput formControlName="emails" rows="20"></textarea>
            
            
        </mat-form-field>

        <div style="text-align: center;">
            <button type="submit" mat-raised-button color="primary" style="width: 120px;">Enviar</button>
        </div>
    </form>
</div>
