<div style="text-align: right; width: 50%;display: inline-block; " >
    <h1>Embarque FollowUp</h1>
</div>
<div style="text-align: right; width: 50%; display: inline-block; " >
    <button mat-button class="close-button" style="font-size: 10px;"  [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</div>

<hr/>




<form [formGroup]="formFollowUp" (ngSubmit)="gravarEmbarqueFollowUp()">
    <!--AGENDA-->
    <div class="form-group" style="width: 600px;height: 390x; text-align: center;">
        <table style="width: 100%; margin-top: 10px;">
            <tr>
                <td style="width:100%" class="formFrameAddFollowup">
                    
                    <div class="tituloSeparador" style="font-weight: normal;">
                        &nbsp;&nbsp;<mat-icon>speaker_notes </mat-icon>
                        &nbsp; Adicionar Followup  
                    </div>

                    <div class="divListAgendaFollowUp">
                        <table class="table-mat-card" style="width:100%">
                            <tr>
                                <td style="width: 100%;">
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">
                                    <mat-form-field appearance="outline" style="width: 100%;">
                                        <mat-label>FollowUp</mat-label>
                                        <mat-select  formControlName="idEventoFollowup" placeholder="Selecione uma opção">
                                          <mat-option  *ngFor="let colunas of cmbevento"  [value]="colunas.foup_id_cd_followup">
                                                {{colunas.foup_ds_followup}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">
                                    <mat-form-field appearance="outline" style="width: 100%;">
                                        <mat-label>Motivo</mat-label>
                                        <mat-select  formControlName="idMotivo" placeholder="Selecione uma opção">
                                          <mat-option  *ngFor="let colunas of cmbMotivo"  [value]="colunas.moti_id_cd_motivo">
                                                {{colunas.moti_ds_motivo}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">
                                    <mat-form-field appearance="outline" style="width: 100%;">
                                        <mat-label>Responsavel</mat-label>
                                        <mat-select  formControlName="idResponsavel" placeholder="Selecione uma opção">
                                          <mat-option  *ngFor="let colunas of cmbResponsavel"  [value]="colunas.resp_id_cd_responsavel">
                                                {{colunas.resp_nm_responsavel}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">
                                    <mat-form-field appearance="outline" style="width: 100%;">
                                        <mat-label>OBSERVAÇÃO</mat-label>
                                        <textarea matInput  #tx_followup  formControlName="tx_followup" 
                                                placeholder="Inserir texto..."
                                                rows="7" ></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col justify-content-start">
                            <button mat-raised-button color="primary" type="submit" 
                                style="width: 120px;">
                                <mat-icon>save</mat-icon>&nbsp;&nbsp;&nbsp;FollowUp
                            </button>
                        </div>
                    </div>    
                    
                        
                    
                </td>
            </tr>
        </table>
    </div>
</form>    