<div style="text-align: right; width: 50%;display: inline-block; " >
    <h1>FollowUp</h1>
</div>
<div style="text-align: right; width: 50%; display: inline-block; " >
    <button mat-button class="close-button" style="font-size: 10px;"  [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</div>

<hr/>

<!--AGENDA-->
<div class="tituloSeparador">
    &nbsp;Embarque de numero {{itemFollowup.emfo_id_cd_embarque}}
</div>
<div style="width: 100%; text-align: center;">
    <table style="width: 100%; margin-top: 10px;">
        <tr>
            <td style="width:100%" class="formFrameListFollowup">
                <div>
                    <div class="example-button-row">
                        <mat-card>
                            <table style=" margin-left: 10px;">
                                <tr>
                                    <td style="width: 20%; text-align: right;" ><b>Id followup:</b> </td>
                                    <td style="width: 80%;">{{itemFollowup.emfo_id_cd_embafollow}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%; text-align: right;" ><b>Followup:</b> </td>
                                    <td style="width: 80%;">{{itemFollowup.foup_ds_followup}}</td>
                                </tr>
                                <tr>  
                                    <td style="width: 20%; text-align: right;"><b>Motivo:</b> </td>
                                    <td style="width: 80%;">{{itemFollowup.moti_ds_motivo}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%; text-align: right;"><b>Responsavel:</b></td> 
                                    <td style="width: 80%;">{{itemFollowup.resp_nm_responsavel}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%; text-align: right; margin-top: 10px;" ><b>Data:</b> </td>
                                    <td style="width: 80%;">{{itemFollowup.emfo_dh_registro}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%; text-align: right;"><b>Observação:</b></td> 
                                    <td style="width: 80%;">{{itemFollowup.emfo_tx_followup}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%; text-align: right;"><b>&nbsp;</b></td> 
                                    <td style="width: 80%;">&nbsp;</td>
                                </tr>
                                <tr style="font-size: 8px;vertical-align: top;">
                                    <td style="width: 20%; text-align: right; "><i><b>Criado por:</b> </i></td>
                                    <td style="width: 80%;"><i>{{itemFollowup.user_ds_nomeusuario}}</i></td>
                                </tr>
                                <tr>
                                    <td style="width: 20%; text-align: right;"><b>&nbsp;</b></td> 
                                    <td style="width: 80%;">&nbsp;</td>
                                </tr>
                            </table>
                        </mat-card>
                    </div>
                </div>
                
            </td>
        </tr>
    </table>
</div>
