<div style="text-align: right; width: 50%;display: inline-block; " >
    <h1>Detalhes Notas</h1>
</div>
<div style="text-align: right; width: 50%; display: inline-block; " >
    <button mat-button class="close-button" style="font-size: 10px;"  [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</div>

<hr/>

<!--AGENDA-->
<div class="tituloSeparador">
    &nbsp; &nbsp; &nbsp;PEDIDO MONDELEZ {{skud_ds_pedidomondelez}}
</div>
<div style="width: 100%; text-align: center;">
    <table style="width: 100%;">
        <tr>
            <td style="width:100%" class="formFrameAddFollowup">
                <div class="divListSkus">
                    <div *ngFor="let notas of listNotas" class="divList" style="margin-top: 5px;">
                        
                        <mat-card>
                            <div style="width: 100%; background-color: grey; border-radius: 3px;">
                                <table style="color: white;">
                                    <tr>
                                        <td style="width: 10%; text-align: left;" >&nbsp; Nota: {{notas.nofi_ds_notafiscalnumber}}</td>
                                    </tr>
                                </table> 
                            </div>
                            <table>
                                <tr>
                                    <td style="width: 10%; text-align: right;" ><b>Serie:</b> </td>
                                    <td style="width: 15%;">{{notas.nofi_ds_notafiscalserie}}</td>
                                    <td style="width: 10%; text-align: right;" ><b>Company:</b> </td>
                                    <td style="width: 15%;">{{notas.nofi_ds_company}}</td>
                                    <td style="width: 10%; text-align: right;"><b>Quantidade:</b> </td>
                                    <td style="width: 15%;">{{notas.nofi_ds_quantity}}</td>
                                </tr>
                                <tr >
                                    <td style="width: 10%; text-align: right;"><b>Volume:</b></td> 
                                    <td style="width: 15%;">{{notas.nofi_ds_volumenota}}</td>
                                    <td style="width: 10%; text-align: right;"><b>Peso Liquido:</b> </td>
                                    <td style="width: 15%;">{{notas.nofi_ds_netweight}}</td>
                                    <td style="width: 10%; text-align: right;"><b>Peso Bruto:</b> </td>
                                    <td style="width: 15%;">{{notas.nofi_ds_grossweight}}</td>
                                </tr>                                                              
                            </table>
                        </mat-card>
                    </div>
                </div>
                
            </td>
        </tr>
    </table>
</div>
