<div style="text-align: right; width: 50%;display: inline-block; " >
    <h1>Detalhes SKU</h1>
</div>
<div style="text-align: right; width: 50%; display: inline-block; " >
    <button mat-button class="close-button" style="font-size: 10px;"  [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</div>

<hr/>

<!--AGENDA-->
<div class="tituloSeparador">
    &nbsp; &nbsp; &nbsp;DELIVERY
</div>
<div style="width: 100%; text-align: center;">
    <table style="width: 100%;">
        <tr>
            <td style="width:100%" class="formFrameAddFollowup">
                <div class="divListSkus">
                    <div *ngFor="let skus of listSkus" class="divList" style="margin-top: 5px;">
                        
                        <mat-card>
                            <div style="width: 100%; background-color: grey; border-radius: 3px;">
                                <table style="color: white;">
                                    <tr>
                                        <td style="width: 10%; text-align: right;" >Item: </td>
                                        <td style="width: 35%;" colspan="3">
                                                {{skus.skud_ds_itemsku}}
                                        </td>
                                        <td style="width: 10%; text-align: right;">Valor total: </td>
                                        <td style="width: 15%;">{{skus.skud_ds_valor}}</td>
                                    </tr>
                                </table> 
                            </div>
                            <table>
                                <tr>
                                    <td style="width: 10%; text-align: right;" ><b>Pedido Cliente:</b> </td>
                                    <td style="width: 15%;">{{skus.skud_ds_pedidocliente}}</td>
                                    <td style="width: 10%; text-align: right;" ><b>Código:</b> </td>
                                    <td style="width: 15%;">{{skus.skud_ds_codsku}}</td>
                                    <td style="width: 10%; text-align: right;"><b>Quantidade:</b> </td>
                                    <td style="width: 15%;">{{skus.skud_nr_quantidade}}</td>
                                </tr>
                                <tr >
                                    <td style="width: 10%; text-align: right;"><b>Pedido Mondelez:</b></td> 
                                    <td style="width: 15%;">{{skus.skud_ds_pedidomondelez}}</td>
                                    <td style="width: 10%; text-align: right;"><b>Peso liquido:</b> </td>
                                    <td style="width: 15%;">{{skus.skud_ds_pesoliquido}}</td>
                                    <td style="width: 10%; text-align: right;"><b>Peso Bruto:</b> </td>
                                    <td style="width: 15%;">{{skus.skud_ds_pesobruto}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%; text-align: right;"><b>Data da Delivery:</b> </td>
                                    <td style="width: 15%;">{{skus.skud_dh_delivery}}</td>
                                    <td style="width: 10%; text-align: right;"><b>Volume cubico:</b> </td>
                                    <td style="width: 15%;">{{skus.skud_ds_volumecubico}}</td>
                                    <td style="width: 10%; text-align: right;"><b>Tipo de venda:</b> </td>
                                    <td style="width: 15%;">{{skus.skud_ds_tipovenda}}</td>
                                  </tr>
                                                              
                            </table>
                        </mat-card>
                    </div>
                </div>
                
            </td>
        </tr>
    </table>
</div>
