<div style="text-align: right; width: 50%;display: inline-block; " >
    <h1>Alterar Status</h1>
</div>
<div style="text-align: right; width: 50%; display: inline-block; " >
    <button mat-button class="close-button" style="font-size: 10px;"  [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</div>

<hr/>

<form [formGroup]="formAlterarStatus" novalidate (ngSubmit)="atualizarStatus()">

    <div class="form-group" style="width: 100%;height: 370x;">
        <table style="width: 100%; margin-top: 10px;text-align: center;">
            <tr>
                <td style="width:100%" class="formFrameLeadTime">
                    
                    <div class="tituloSeparador" style="font-weight: normal;">
                        &nbsp;&nbsp;<mat-icon>av_timer </mat-icon>
                        &nbsp; Alterar Status 
                    </div>
                    <div class="divListAgendaFollowUp">
                        <table class="table-mat-card" style="width:100%">
                            <tr>
                                <td style="width: 100%;">
                                    <div class="divListAgendaFollowUp">
                                        <mat-form-field appearance="outline" style="margin:3px;width: 98%;">
                                            <mat-label>Status</mat-label>
                                            <mat-select formControlName="status">
                                                <mat-option *ngFor="let status of lstStatusModel" value="{{status.stat_id_cd_status}}">{{status.status_ds_descricaostatus}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="text-align: center;">
                        <button type="submit" mat-raised-button color="primary" style="width: 120px;">Alterar Status</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>