<div style="text-align: right; width: 50%;display: inline-block; " >
    <h1>Transportadora</h1>
</div>
<div style="text-align: right; width: 50%; display: inline-block; " >
    <button mat-button class="close-button" style="font-size: 10px;"  [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</div>

<hr/>

<!--AGENDA-->
<div class="tituloSeparador">
    &nbsp;Dados da transportadora
</div>
<div style="width: 100%; text-align: center;">
    <table style="width: 100%; margin-top: 10px;">
        <tr>
            <td style="width:100%" class="formFrameListFollowup">
                <div>
                    <div class="example-button-row">
                        <mat-card>
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: 20%; text-align: right;" ><b>Código:</b> </td>
                                    <td style="width: 80%;">{{transportadora.tran_ds_codigotransportadora}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%; text-align: right;" ><b>Nome:</b> </td>
                                    <td style="width: 80%;">{{transportadora.tran_nm_nometransportadora}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%; text-align: right;" ><b>CNPJ:</b> </td>
                                    <td style="width: 80%;">{{transportadora.tran_ds_cnpj}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%; text-align: right;" ><b>Cadastro:</b> </td>
                                    <td style="width: 80%;">{{transportadora.tran_dh_registro}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 100%;" colspan="2" >
                                        <br/>
                                        <div class="tituloSeparador">
                                            &nbsp;&nbsp;&nbsp;Contatos
                                        </div>
                                        <div style="width: 100%; text-align: center;">
                                            <table style="width: 100%;">
                                                <tr>
                                                    <td style="width:100%" class="formFrameContatosTransportadora">
                                                        <div class="divListcoluna">
                                                            <div class="divListAgenda">
                                                                <div *ngFor="let coluna of listaContatosTransportadora" class="divList" style="margin-top: 5px;">
                                                                    <mat-card>
                                                                        <table>
                                                                            <tr>
                                                                                <td style="width: 20%; text-align: right;" ><b>Email:</b> </td>
                                                                                <td style="width: 80%;">{{coluna.trml_ds_email}}</td>
                                                                            </tr>
                                                                        </table>
                                                                    </mat-card>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    
                                    </td>
                                </tr>
                            </table>
                        </mat-card>
                    </div>
                </div>
                
            </td>
        </tr>
    </table>
</div>
